[2014-07-31 15:55] shiffman opened #1 "p5 addons"
Opening an issue to discuss ways of including a p5 addon such as sound or dom into a project.  (Right now, it seems I have to manually copy the file into libraries).

[2014-07-31 16:16] shiffman opened #2 "error console auto clear?"
My expectation was that the console would clear every time I hit run.  I'm not sure if this is the correct behavior or not. But it was confusing to me that old error messages would persist and I made the false assumption there was still an error.

[2014-07-31 19:49] #2 closed, assigned to nobody

[2014-07-31 20:38] antiboredom opened #3 "Help System"
This is just a place to put thoughts about an integrated help system. The easiest option (which I think we'll do for the initial release) will just be a menu item that takes you to the p5.js online reference

[2014-07-31 20:39] antiboredom opened #4 "Windows Binary"
I'd love someone to help me test this out in Windows. In theory it should just work, but I'm pretty sure it will need some tweaking.

[2014-07-31 20:39] antiboredom opened #5 "Syntax highlighting for p5 keywords"

[2014-07-31 20:40] antiboredom opened #6 "Graceful crashing"
When / if the app crashes it should do so in a more graceful way, and not show the default node-webkit clouds error.

[2014-07-31 20:41] antiboredom opened #7 "Credits"
We need to write up some credits - this will appear when users look at the "about" menu.

[2014-07-31 20:42] antiboredom opened #8 "Readme needs updating"

[2014-07-31 20:42] antiboredom opened #9 "Can't overwrite folders on Save-As"

[2014-07-31 23:36] antiboredom opened #10 "window isn't focused on startup"

[2014-08-01 02:45] bclifton opened #11 "Word Wrap?"

[2014-08-01 05:13] #11 closed, assigned to nobody

[2014-08-01 17:31] antiboredom opened #13 "some video formats don't play using the video tag"
@lmccart can you take a look at this and let me know what you think?

https://github.com/rogerwang/node-webkit/wiki/Using-MP3-&-MP4-(H.264)-using-the--video--&--audio--tags.

[2014-08-01 18:29] antiboredom opened #14 "command - ] should indent"

[2014-08-01 20:00] #8 closed, assigned to nobody

[2014-08-01 20:00] #10 closed, assigned to nobody

[2014-08-02 00:51] #14 closed, assigned to nobody

[2014-08-05 14:55] shiffman opened #16 "save as?"
Current behavior: ⇧⌘S is "saves file as" whereas I am used to ⇧⌘S to mean "saves project as".  Tiny issue and am not sure what others expect.  Just opening it for discussion.

[2014-08-06 22:24] whitneyland opened #17 "Instant Gratification"
The editor currently starts up showing an empty function. Would be nice to add a line of code in there for instant gratification of seeing something draw from code right away.

Would also encourage someone to tweak something; For example if circle was the line of code they could change an argument and see a difference.

[2014-08-06 22:26] whitneyland opened #18 "Boilerplate"
Shouldn’t have to explicitly call createCanvas() for simple apps. Why not do it by default to match the current window size?

If there is some reason this allows more efficiency maybe you could still make the call hidden/implicit, but then allow it explicitly later as needed.

[2014-08-06 22:27] WhitneyLand opened #19 "Refresh functionality not discoverable"
At first I couldn't get the editor to refresh without stopping and starting.  I understand now there is a keyboard shortcut but it's difficult to guess this and would reduce friction if there were a button or text instructions.

[2014-08-07 00:52] adarshk opened #20 "Export broken"
Hitting export crashes the current project window and stops working for other open windows after the crash.

[2014-08-07 18:02] #20 closed, assigned to nobody

[2014-08-07 18:04] antiboredom opened #21 "Examples"
There should be an easy way to access p5js examples. I would probably implement this via a menu item right now, but I'm open to other ideas. For example there could be a view with different example sketches running, each with a button that lets you edit the sketch.

[2014-08-07 18:31] antiboredom opened #22 "Add support for serial access"

[2014-08-08 16:12] antiboredom opened #23 "Upgrade to node-webkit 0.10.1"

[2014-08-14 11:54] lmccart opened #24 "tablet scrollbar issue"
https://github.com/lmccart/p5.js/issues/318

[2014-08-22 15:01] lmccart opened #25 "wiki about page"
including instructions for export.
posting this because I've had some questions about how to get sketches online. we might think about adding back in the upload button and having it pop up an instruction box for now.

[2014-09-18 18:21] lmccart opened #26 "disable command-e shortcut"
throws this error, losing current code

![screen shot 2014-09-18 at 2 20 41 pm](https://cloud.githubusercontent.com/assets/191056/4325040/a11dd6e4-3f60-11e4-8e5e-11be1737788f.png)

[2014-09-18 21:40] #26 closed, assigned to nobody

[2014-09-18 21:41] #24 closed, assigned to nobody

[2014-10-21 12:42] mimiyin opened #27 "Open menu only works once"
Quitting and restarting fixes it every time. Mac OS 10.9.5

[2014-12-04 17:06] samarsault opened #28 "Full Screen Bug"
Hi,
During my work at a GCI task, I found some issues in the p5 js editor which I would like to mention
When you open the editor in full screen view and then quit it (⌘+Q) and reopen it, instead of being full-screen in a separate pane, the app opens in the active pane and it appears like this –
￼
![image2](https://cloud.githubusercontent.com/assets/2987087/5302161/3691fa18-7c04-11e4-886f-c69ad66a9

[2014-12-04 17:21] samarjeet27 opened #29 "Undo Menu doesn't work"
In the p5.js editor, 'Undo' menu doesn't work but the ⌘+Z shortcut works

[2014-12-04 17:22] samarjeet27 opened #30 "Tab Indentation null"
When I open a file, the file content shows ‘undefined’ instead of tab characters(\t) when the indentation amount is not set. The user should not be allowed to set a null value for Indentation Amount. If it’s null, a default value should be entered. See image below –

![image3](https://cloud.githubusercontent.com/assets/2987087/5302185/6c9dd0be-7c04-11e4-8c76-5c7a5cf484f3.png)

in another editor, i

[2014-12-04 17:25] samarjeet27 opened #31 "External Changes to file"
When an external process changes a file that is open in the p5.js editor, the file’s content in the p5.js editor remains the same even after you double-click the file on the tree-view

[2015-01-23 08:13] locksmithdon opened #32 "The application "p5" can't be opened"
I'm using OS X 10.10.1. I downloaded and unzipped `p5.zip` and copied the app to the Applications folder and then tried to run it. That's when I got a dialog with this message. I even tried right-clicking and choosing "Open" since I know default security settings require downloaded apps to be signed. Nope, same message.

So I set off to setup a dev environment. I ran into issues with the first `np

[2015-03-02 07:52] marnen commented on #32
Why were you stopped in your tracks? nwjs/nw.js#2518 doesn't prevent the application from running...

[2015-03-09 14:14] federicobond opened #34 "Outdated dependencies and problems running"
The zip file needed for installing `nodewebkit@0.9.2` is no longer available. I tried switching to the updated `nw@0.12.0` module, along with `node-webkit-builder@1.0.11` but the project fails to start with the following error. Any ideas?

[code]

[2015-03-12 01:03] Spaxe opened #35 "included libraries out of date (v0.3.6 -> v0.4.2)"
The version that ships with p5js editor v0.1.8 doesn't even work with fill() on vertex shapes. I had to manually update p5.js from the latest release.

It would be nice if the editor's included library can be linked to the main release.

[2015-03-14 19:15] KaroAntonio opened #37 "Can Not Stop Running Sketch"
Cannot Stop a Sketch to save or update the index or sketch files, the browser window remains open and the sketch will not terminate. The only way to continue working on the sketch is to re-open it.

![no stop](https://cloud.githubusercontent.com/assets/5997028/6653146/03102f2a-ca4c-11e4-8c4c-fefadc98d361.png)

[2015-03-14 19:47] KaroAntonio opened #38 "Console Not Reporting Syntax Error"
Here is an example of an error not being reported in the console.
A simple syntax error is included in the draw function, effectively breaking the sketch and yet the console is happily blank, with nothing to report.

![console error miss](https://cloud.githubusercontent.com/assets/5997028/6653279/a7497944-ca50-11e4-9414-28c77d06f2bc.png)

[2015-03-18 07:36] mactkg commented on #37
@KaroAntonio Can you paste sources here?

[2015-03-26 09:54] AlexRex commented on #34
I was having the same problem, searching on google I found a solve to install the node-webkit from another version: `npm i nodewebkit@0.9.2-4`. But now when I start the app with `npm run app` I get this error:

[code]

[2015-03-27 18:25] antiboredom commented on #34
I believe this issue is now resolved thanks to @mreichel.

[2015-03-27 18:25] #34 closed

[2015-03-27 18:25] #23 closed

[2015-03-28 21:48] KaroAntonio commented on #37
Sources? Sorry I'm not quite familiar with what exactly sure what those would be but here's some context info!

OS: OSC 10.9.5
Hardware: MacBook Air
Browser: Safari

[2015-03-30 07:19] KaroAntonio opened #40 "Clean Font Changes"
Currently, whenever changing fonts, the editor shows a mashup of the lines before adjusting to the new linespacing. This results in a jarring transition.

[2015-03-30 07:26] KaroAntonio opened #41 "Rename File in Sidebar File Tree"
A standard feature in a lot of file trees is to be able to rename a file by double clicking on it in the file tree. This would be an intuitive and smooth feature to include.

[2015-03-30 07:31] KaroAntonio opened #42 "Don't Display Browser Window on Error"
When there is an error that prevents the code from running, the dummy browser window or browser window shouldn't be displayed.
![screen shot 2015-03-29 at 9 28 34 pm](https://cloud.githubusercontent.com/assets/5997028/6891953/ea1e2d26-d65a-11e4-92bd-7ea80226ee6a.png)

[2015-04-16 07:27] hanswillem opened #44 "vector.get() doesn't seem to work anymore?"
Hi all,

For some reason vector.get() doesn't work for me anymore. I use version 0.4.4 (April 12, 2015).
Any ideas?

Grtz,
Hans Willem

[2015-04-16 07:30] hanswillem commented on #44
Sorry, wrong place to post this. Can't seem to delete my post? Also sorry for that. I'll close the issue.

[2015-04-16 07:30] #44 closed

[2015-05-03 03:47] justinpeake opened #45 "'File > Open Recent' is Unresponsive"
Highlights option but doesn't dropdown list of recently opened files.

I'm currently on OS 10.7.5

[2015-05-27 17:17] #30 closed

[2015-05-27 17:17] antiboredom commented on #30
thanks!

[2015-05-28 00:58] sepans commented on #13
@antiboredom, I guess editor license needs to be changed to GPL, which is fine since it is very unlikely that anybody wants to build a commercial product based p5.js editor (no offense, the editor is so amazing there is no need for such thing ;)

[2015-05-28 00:59] antiboredom commented on #13
@sepans GPL is totally fine with me!

[2015-05-28 16:10] therewasaguy opened #50 "Make menu items for various keyboard shortcuts"
Watching people use the IDE, they did not notice the Settings gear icon, and were instead looking for Settings in the gui.menu. It would be good to either add all of the Settings as its own Menu, or to add Show/Hide settings to one of the existing menus (i.e. Window --> Show/Hide Preferences)

[2015-05-28 19:51] pixelmaid opened #51 "new file can be created without an extension"
Doing so throws a FILE_NOT_FOUND error, however the file is still created, and can be renamed with an extension.

should we enable people to create new files without extensions?  It seems likely that new users will not automatically know to add .js extensions to their filenames, and this could trip them up.

[2015-05-28 20:56] #13 closed

[2015-05-28 22:43] six5532one opened #55 "Files inside a folder in a new project don't save when user invokes 'Save Project As'"
If you create a file within a folder in a new project and perform "Save Project As" without explicitly saving the file, the file's contents will not be saved. If you create a new file in the project's root directory and save the project without explicitly saving the file, the file will save successfully.

[2015-05-29 00:02] #5 closed

[2015-05-29 00:17] antiboredom commented on #35
the editor automatically updates to the newest version upon launch.

[2015-05-29 00:17] #35 closed

[2015-05-29 00:17] antiboredom commented on #45
this should be fixed now thanks to @jasonalderman

[2015-05-29 00:17] #45 closed

[2015-05-29 00:19] antiboredom commented on #27
fixed thanks to @Bruehausu

[2015-05-29 00:19] #27 closed

[2015-05-29 15:28] sepans opened #57 "Live update sketch when code changes"
Editor can detect the changes in editor and pass the changes with websocket to the canvas window. In global mode browser window handles the message and updates window.[setup/draw/variableName] accordingly.

[2015-05-29 18:32] antiboredom commented on #31
thanks to @Bruehausu for fixing this

[2015-05-29 18:32] #31 closed

[2015-05-30 15:25] workergnome opened #63 "Character encoding"
Relevant to the bug on the main repo, https://github.com/processing/p5.js/issues/701, extended characters are not properly handled.

Adding

[code]

to the head section of the index.html should solve this.

[2015-05-30 16:23] benhinchley opened #65 "Move from dedicated IDE to a set of atom packages or just create the packages as separate ideas???????"
Hey Guys, I really like the work you guys are doing on this and have been playing around with the editor a lot, as a way of starting and creating ideas, but I often find myself falling back to my editor of choice [atom.io](https://atom.io/) and in doing so have started to make some pretty rudimentary packages for atom, to help in my p5 development. I was wondering if instead of or in addition to,

[2015-05-30 17:30] #63 closed

[2015-05-30 17:53] antiboredom commented on #16
save project as is now fixed - open to changing around the keyboard shortcuts. Anyone else have any thoughts?

[2015-05-30 17:55] antiboredom commented on #38
this should be fixed now!

[2015-05-30 17:55] #38 closed

[2015-05-30 17:59] antiboredom commented on #50
Agreed. We need menu items for:
* showing the preferences: command ,
* increasing and decreasing font size: command + and command -
* showing/hiding the sidebar: command b
* reformatting the code: command t

[2015-05-30 18:51] antiboredom opened #68 "Running a new project after saving fails to reflect changes if it has been run before saving"
To duplicate:
* create a new project
* add some code
* run it
* save the project
* edit the code
* run again

This is happening because the static server that gets created on the first run is still serving files from the temporary directory where new projects live before they are saved. To fix the issue we need to stop the server after any "save project as" function call.

[2015-05-30 18:53] antiboredom opened #69 "Uncaught ReferenceError: require is not defined"
This message occasionally appears in the console.

[2015-05-30 18:59] antiboredom opened #71 "Crash on run"
Sometimes the IDE crashes when you hit the run button. OOOPS.

[2015-05-30 19:13] antiboredom opened #72 "Output window should maintain dimensions and location"
The output window should maintain its size and location when you run your sketch.

[2015-05-30 19:14] pixelmaid opened #73 "Tabs should scale when window scales"
Scale tabs on window resize so that maximum number of tabs are viewable and add tab is always visible

[2015-05-30 19:25] #71 closed

[2015-05-30 20:46] antiboredom commented on #69
I've temporarily "fixed" this by just hiding it from the user but we should figure out why it's happening.

[2015-05-30 20:46] #9 closed

[2015-05-30 20:47] #21 closed

[2015-05-30 23:42] KaroAntonio commented on #38
thanks!

On Sat, May 30, 2015 at 11:55 AM, Sam Lavigne <notifications@github.com>
wrote:

[2015-05-31 00:19] antiboredom opened #74 "Command-Q doesn't always close all windows"
This seems to happen when a sketch's output window is focused.

[2015-05-31 00:45] kylemcdonald opened #75 "console text should match code text"
one of the applications of resizing text is for teaching, and in that case you want to be able to show the console output as well as show the code.

[2015-05-31 00:46] kylemcdonald opened #76 "option for errors to bring focus back to console"
the first time i wrote code with an error, i just stared at my sketch half-working in the browser. i felt that my attention wasn't brought to the errors in the console because the browser window was in the foreground. automatically bringing the ide to the foreground could be one way to make it clear that there is an error.

[2015-05-31 04:54] brysonian opened #77 "Possibly move from NW to Electron"
I'd love to hear some input on the idea of moving the IDE over from nw to [electron](http://electron.atom.io) I'm by no means an expert on this, but i get the feeling that NW is falling behind a bit, and electron is really getting put through its paces between atom and stack that maybe it'll make things a bit easier down the line. Also to be clear, this is motivated by some tests to build a tool t

[2015-05-31 11:16] molleindustria opened #78 "images are opened as text files"
Loving the new IDE!
Yay glitch art
![screen shot 2015-05-31 at 7 13 39 am](https://cloud.githubusercontent.com/assets/12369651/7901728/98e82bb0-0764-11e5-91e2-e8c607ebe362.png)

Also accessing images should trigger new tabs.

[2015-05-31 11:21] molleindustria opened #79 "Duplicated tabs"
Clicking on a file in a folder in the left panel, closing the folder, and then clicking on the same file opens a duplicate of the same tab
![screen shot 2015-05-31 at 7 18 00 am](https://cloud.githubusercontent.com/assets/12369651/7901736/2a5cbbc4-0765-11e5-9724-bfab877ebedf.png)

[2015-05-31 17:37] antiboredom commented on #77
Hi - totally open to the idea, and agree that electron has more momentum right now. When I started the project nw was more mature than electron (which was called atom shell at that point). Not totally sure how hard it would be to port over but it's definitely worth investigating.

[2015-05-31 17:38] antiboredom commented on #75
Agreed!

[2015-05-31 20:44] #75 closed

[2015-05-31 21:07] antiboredom commented on #65
Hi - it would be great to build p5 packages for various editors like atom and sublime - excited to see what you come up with!

[2015-05-31 21:09] antiboredom commented on #79
it looks like there's a visual bug as well - with the scroll bar...

[2015-05-31 21:12] #19 closed

[2015-05-31 21:13] antiboredom commented on #32
this should be fixed now

[2015-05-31 21:13] #32 closed

[2015-06-01 21:31] antiboredom commented on #78
Thanks! Note to contributors: we could use file extensions to determine if the file can be viewed in the editor, or something like this: https://github.com/bevry/istextorbinary

For now I think we should just disable viewing non-text files, but for the future I'd like the editor to preview images, videos and audio files.

[2015-06-03 14:41] shiffman opened #80 "interactive console"
I'm making this comment without knowledge of how large / complicated this work would be, but in thinking about ideas for the IDE this google summer of code, one thing that feels to me to be an important feature is an interactive console.  Specifically for teaching and debugging (and teaching debugging), I've found the ability to execute JS directly in a browser console incredibly useful.  The rece

[2015-06-03 22:47] antiboredom commented on #80
You can access the javascript console in a running sketch by clicking the little gear icon in the output window. So, something is already in place, but it doesn't feel very integrated into the editor as a whole. Ideally it would live in the debug panel below the code, which is something that I'm pretty sure we can achieve, although I'm not sure how difficult it would be.

[2015-06-03 23:11] antiboredom commented on #50
@Bruehausu can you take a look at adding the find and find-and-replace menu items when you get a chance?

[2015-06-04 09:19] shiffman opened #82 "console shows Uncaught ReferenceError: require is not defined"
Seems to occur for any and all sketches.

![screenshot 2015-06-04 10 18 52](https://cloud.githubusercontent.com/assets/191758/7980901/2e69fac4-0aa3-11e5-9a9b-db271572b86a.png)

[2015-06-04 09:26] shiffman opened #83 "old sketch continues to be served on port 3000"
I can't full explain or pinpoint the steps to reproduce this (will follow up when I can), but I'm experiencing a problem where a sketch a ran when first working with the editor today continues to run even if I quit the editor, make a new project, etc.

![screenshot 2015-06-04 10 23 18](https://cloud.githubusercontent.com/assets/191758/7981004/eb1716f2-0aa3-11e5-8c13-bef5f075e71d.png)

The only way

[2015-06-04 09:30] shiffman opened #84 "see list of open windows under Window file menu"
It would be nice to see a list of open windows here to quickly move from one sketch/project to another.

![screenshot 2015-06-04 10 28 46](https://cloud.githubusercontent.com/assets/191758/7981096/969ad8e2-0aa4-11e5-9534-ecee1d3816da.png)

[2015-06-04 09:32] shiffman commented on #80
Ah, yes, it's great to see it there.  I agree, however, that this would ideally move to the debug panel below the code as its awkward managing so many windows as well as confusing as to why there would be two different consoles with different features.

[2015-06-04 09:44] shiffman commented on #80
It's also interesting to think about whether one might like to optionally attach the debug panel to the browser window, i.e. I might prefer sometimes (always?) to interact with and view the console working with the browser window vs. the code.  I'm very unsure about this.  I'm imagining something like:

![screenshot 2015-06-04 10 37 19](https://cloud.githubusercontent.com/assets/191758/7981412/a58

[2015-06-04 14:22] antiboredom commented on #82
closing this as it is a duplicate of #69

[2015-06-04 14:22] #82 closed

[2015-06-04 14:23] antiboredom commented on #83
I wonder if this is the same situation, or related to #68?

[2015-06-04 14:28] shiffman commented on #83
Ah, after some poking around I believe this is the same bug.  Will close and can re-open if I notice something more/new after #68 is resolved.

[2015-06-04 14:28] #83 closed

[2015-06-04 14:30] antiboredom commented on #84
yeah we should definitely add this!

[2015-06-04 14:42] sepans commented on #69
On top of debug-console the minified code (which I assume is socket.io) seems to be depending on require.js. I will take a look to see if we can get rid of  that.

[2015-06-04 15:35] shiffman commented on #82
ack, I thought I searched to see if this was reported but clearly I did not!

[2015-06-08 14:16] Bruehausu commented on #50
@antiboredom I'm not sure if I'm crazy, but I couldn't actually find the code for find & replace. If you know where the functions are, I'll add them straight away.

[2015-06-08 14:19] antiboredom commented on #50
Oh - sorry this is just part of the ACE editor!

[2015-06-08 14:45] Bruehausu commented on #50
ok I'm looking there right now, but I just realised: How are we currently letting people know about all of the other builtin ace functionality and the increment/decrement shortcuts (cmd + [, cmd + ]) defined in editor.js?

[2015-06-08 15:47] Bruehausu opened #86 "Files can't be deleted from the sidebar"
I'm seeing an issue where trying to delete a file from in the sidebar (right click, chose from drop-down menu) will do nothing. Running the developer version from the terminal gives a reference error.

[2015-06-08 17:17] antiboredom commented on #50
My thought is that we just add menu items for anything else built into ace that we want to expose to users.

[2015-06-08 17:19] antiboredom commented on #86
This must be something that got introduced with the new layout. Good catch!

[2015-06-09 00:54] #86 closed

[2015-06-11 00:35] burakk opened #87 "infinite recursion protection - alert box"
Hi,

Is there infinite recursion protection for alert box ?  ( when not run in browser )

[2015-06-11 01:32] antiboredom commented on #87
I don't think so. Thanks for bringing this up!

[2015-06-11 21:17] kgrnbrg opened #88 "p5 sound not running examples"
when you try to run p5 examples, the browser page that is running the script doesn't load the file but when you try to run the same local host in a different browser the example works.

[2015-06-11 21:17] kgrnbrg commented on #88
that's for all the examples

[2015-06-11 21:18] kgrnbrg commented on #88
that's for all the sound examples

[2015-06-11 22:10] therewasaguy commented on #88
Not sure where this bug came from, but I updated the version of p5.sound on the p5.js github repo to 0.2.12, and if you refresh the editor, everything works...

sidenote: the editor fetches the latest version of libraries direct from the master branch, but should probably fetch from releases instead. I'll make a separate issue for that.

[2015-06-11 22:10] #88 closed

[2015-06-11 22:12] therewasaguy opened #89 "editor fetches latest from GitHub master branch, should instead fetch latest Release"
the editor fetches the latest version of libraries (p5.js, p5.sound.js, p5.dom.js) direct from the master branch of https://github.com/processing/p5.js, but should probably fetch from the official releases instead which we assume are stable. https://github.com/processing/p5.js/releases

[2015-06-13 08:05] shiffman opened #91 "println and console.log don't work with numbers"
Perhaps related to what we decide about #80:

I'm only seeing output of `println()` or `console.log()` in the browser console, not in the IDE message console.  I believe it should be there?

[2015-06-13 08:10] shiffman commented on #72
Related to this, I'm not sure what the right behavior should be, but we should brainstorm "smart" ways of determining initial browser size upon first run.  Yesterday giving a workshop the browser window was so large it was slightly offscreen and I had trouble grabbing the corner to shrink it.

The sizing and placement of the editor and browser window are key for running multiple projects (esp. whi

[2015-06-13 19:01] antiboredom commented on #72
Agreed! Right now it's positioned relative to the source code window but there are no checks in place to make sure it doesn't go off screen etc.

[2015-06-13 19:02] antiboredom commented on #91
This must be a regression - will look into it.

[2015-06-13 20:20] antiboredom commented on #91
I'm not able to reproduce this - @shiffman can you post the code you were running?

[2015-06-13 21:56] shiffman commented on #91
This is my test code:

[code]

I am running 0.3.0 on Mac OS X 10.10.3.

![screen shot 2015-06-13 at 10 55 07 pm](https://cloud.githubusercontent.com/assets/191758/8146115/48cf43fa-121f-11e5-8d34-21c9dc6ca602.png)

Strange!  No one else seeing this?

[2015-06-13 22:33] antiboredom commented on #91
Ah! Ok - able to reproduce now. This seems to happen if you pass it a number (strings and objects appear to work fine). Will fix!

[2015-06-13 23:23] sepans commented on #91
Most likely not related. But I remember the core team added [this](https://github.com/processing/p5.js/blob/master/lib/p5.js#L3926) <code>JSON.parse(JSON.stringify())</code> to have printed items appear in order. Could it be related?

[2015-06-13 23:39] sepans commented on #37
Isn't this the same infinite loop problem, @antiboredom?

if so, I noticed that codepen injects some checkpoint code to the loop to break it.
<pre>
for (var i = 0; i < data.length; i++) {
    //CodePen injexted check
    if (window.CP.shouldStopExecution(1)) {
        break;
    }
    /* ... user code ... */
 }
//CodePen injected check
window.CP.exitedLoop(1)
</pre>

[2015-06-13 23:50] antiboredom commented on #37
Could be! How do we feel about injecting code this way. I'm sort of hesitant (but open to it). Are there any other solutions? Also what does the processing IDE in these situations?

[2015-06-14 07:44] shiffman commented on #37
Interesting, the Processing IDE does not inject any code with a couple exceptions.  Tweak mode rewrites your code behind the scenes to allow for real-time manipulation of variables.  And things are moved around to deal with make the sketch a wacky-looking java class (`size()` is moved behind the scenes to a `settings()` function etc.)

I would say, injecting code into each and every loop to protec

[2015-06-14 12:29] workergnome commented on #91
Yeah, did a bit of checking.  Doesn't look related to the terrible JSON hack.

[2015-06-15 16:54] sepans commented on #37
The accidental infinite loops are not very uncommon so maybe this is a higher priority bug (and we can move the discussion to a new issue.)

I just wonder why even the editor crashes when there is a infinite loop in the code that runs only in the browser. Are both editor and browser window running in the same process @antiboredom? If so maybe it is possible to have nw fork the process and it shoul

[2015-06-15 17:24] antiboredom commented on #37
Yeah - the output windows are running in the same process - and as @sepans says forking could definitely fix it. I had tried to do this on an earlier iteration of the project but ran into some difficulties... it's worth another look.

[2015-06-16 17:49] antiboredom commented on #89
the same is happening whenever users run the editor. I did this because p5 was changing so rapidly, but now I wonder if we should be more deliberate about it?

[2015-06-16 20:43] andyinabox opened #92 "Git repo paths in README"
Right now the paths in the README all reference the @antiboredom repo, but it seems like development has moved to the @processing repo. Happy to submit a PR if this is just a case of "haven't gotten around to it yet".

[2015-06-16 21:00] andyinabox commented on #78
Seems like this is fixed? I just pulled latest and it's giving me a prompt when I attempt to open an image file instead of opening it "Unsupported file type. Types we can edit: txt,html,css,js,json,scss,xml,csv,less"

[2015-06-16 21:13] antiboredom commented on #92
thanks that would be great!

[2015-06-16 21:13] antiboredom commented on #78
yes! fixed now.

[2015-06-16 21:13] #78 closed

[2015-06-16 23:04] #92 closed

[2015-06-16 23:04] #89 closed

[2015-06-16 23:08] #91 closed

[2015-06-17 11:31] andyinabox commented on #77
+1 for putting this in the long-term plan. Seems like electron will be more future-proof, and much better documented! I'm finding that I have to do quite a bit of source-code digging just to figure out some basic stuff in NW.

[2015-06-19 19:35] therewasaguy opened #94 "autosuggest"
I've started to look into autocompletion and autosuggest for p5 functions. The Khan Editor handles this really well:

http://khan.github.io/live-editor/demos/simple/

They're also using the ACE editor.

If you type ``ScratchpadAutosuggestData`` into the console you can see how the data is formatted, from [this document](https://github.com/Khan/live-editor/blob/24dd8de499db0c067bc3b539ef643e265db90

[2015-06-19 19:36] antiboredom commented on #94
sounds great!

[2015-06-20 15:47] therewasaguy commented on #94
The Tern library is another option

http://ternjs.net/doc/manual.html#protocol

It could be added to a user's text editor of choice, and built into ACE with something like this:
http://sevin7676.github.io/Ace.Tern/demo.html

Seems like we'd generate data in this format: http://ternjs.net/doc/manual.html#typedef

I'll keep playing with this

[2015-06-22 09:13] shiffman commented on #94
Autocomplete is a terrific tool and somewhat of a must for any good editor.  However, it's also particularly tricky to balance its features with the clean simplicity of a beginner experience.  I'm excited for the possibilities you mention above and happy to chat about how autocomplete works in Processing (we went around in many circles about integrating it) if that can be of help.

[2015-06-23 21:30] #29 closed

[2015-06-23 21:56] andyinabox commented on #51
Seems like this is fixed? When I test this I'm getting a message that indicates the .js extension is added.

![screenshot 2015-06-23 17 55 25](https://cloud.githubusercontent.com/assets/151084/8318243/17173340-19d1-11e5-8adf-c45b1080769b.png)

[2015-06-23 21:58] andyinabox commented on #74
I'm having trouble reproducing this one on a mac.

[2015-06-23 22:03] #68 closed

[2015-06-23 22:04] #51 closed

[2015-06-23 22:05] antiboredom commented on #74
yeah I was only getting it very infrequently.

[2015-06-23 22:19] #50 closed

[2015-06-23 22:33] #72 closed

[2015-06-23 22:35] antiboredom opened #96 "Improve default output window location and dimensions"
see #72

[2015-06-23 22:38] antiboredom commented on #79
Hey @pixelmaid  - I noticed you assigned yourself to this a bit ago. Do you think you'll get a chance to take a look in the next few weeks? If not no worries at all - just wanted to check in.

[2015-07-02 04:52] g-rocket opened #98 "Editor freezes when sketch is paused in the debugger of the built-in browser"
To reproduce:

- Create a sketch with some errors in it
- Run it (with "run in browser" turned off)
- Click the gear button on the built-in browser to open the console
- In the "sources" tab, turn on "pause on exceptions" (the pause button in an octagon in the upper right corner of the window)
- Reload the page.  The debugger should activate, and the editor will freeze.
- Try to edit the code (in

[2015-07-02 05:00] g-rocket opened #99 "Sidebar not tall enough to fit horizontal scrollbar at bottom"
See attached screenshot:

![screen shot 2015-07-02 at 12 53 24 am](https://cloud.githubusercontent.com/assets/1187251/8470177/e992352a-2054-11e5-89c2-fd1e95caf6c4.png)

If the sidebar is not wide enough to fit its contents, it will show a horizontal scrollbar (like it should).  However, if the sidebar is _just_ the wrong width, it will put the horizontal scrollbar in the wrong place, and then deci

[2015-07-05 19:04] andyinabox commented on #79
I'm happy to take a look if @pixelmaid isn't able to!

[2015-07-08 16:57] #99 closed

[2015-07-08 17:02] antiboredom commented on #98
thanks for bringing this up.

I'm not sure we'll be able to fix it since it seems to relate to how nw.js works - although of course you can get around the problem by selecting the "run in browser" option.

[2015-07-10 20:04] polyrhythmatic opened #102 "Missing files when auto-updating libraries"
Running the get audio sources example code

https://github.com/processing/p5.js-sound/blob/master/examples/select_audioIn_source/test.js

with the p5 editor and I'm getting this error from p5.js

"p5.js:3661 Uncaught Error: [object Arguments]is not a valid color representation."

I thought I had this example running fine in the desktop IDE not long ago - as did @therewasaguy

I don't think this is

[2015-07-10 20:10] antiboredom commented on #102
Hey - this is definitely an issue with the editor. Fix coming soon!

[2015-07-11 21:13] nucliweb commented on #7
Hi @antiboredom, if you want, I work on this feature.

[2015-07-11 21:13] antiboredom commented on #7
@nucliweb that would be great - thank you!

[2015-07-11 21:19] nucliweb opened #103 "Error on create new empty project"
Hi,

in the current version 0.3.0, I can't create new empty project, because the files in node_assets/p5/empty_project/llibraries/p5.js & p5.sound.js don't have the code of file.

![](https://s3-eu-west-1.amazonaws.com/nucliweb/P5js/P5-Editor.gif)

[2015-07-11 21:20] antiboredom commented on #103
Hi - yeah there's some regression with the auto-updating feature - looking into it!

[2015-07-11 21:21] lmccart commented on #103
where are you autoupdating from? this could be caused by the removal of the libs from the p5.js repo. i've switched over the website to read the package.json for the version then download from cdnjs.
https://github.com/processing/p5.js-website/blob/master/download/release.php#L60

[2015-07-11 21:35] antiboredom commented on #103
Yeah - it was looking for the files in the wrong place. I've just uploaded a new release that should fix the issue.

@lmccart this brings up another question for me: do we want the editor to continue to automatically update to new releases of p5? Or should we couple releases of the editor with releases of the library?

[2015-07-11 21:35] #103 closed

[2015-07-11 21:35] #102 closed

[2015-07-11 21:42] nucliweb commented on #103
@antiboredom the notification of a new version, redirect to Page not found :(

https://github.com/processing/p5.js-editor/releases/download/v0.3.1/p5.zip

[2015-07-11 21:43] nucliweb commented on #103
Mmmm... the name of file it's p5.app.zip ;)

[2015-07-11 21:52] antiboredom commented on #103
@nucliweb oops!! fixed now.

[2015-07-11 21:53] nucliweb commented on #103
:+1:

[2015-07-11 22:39] nucliweb commented on #7
@antiboredom do you like the system of Brackets for show credits?

![About](https://s3-eu-west-1.amazonaws.com/nucliweb/P5js/About.gif)

[2015-07-11 22:47] antiboredom commented on #7
@nucliweb I hadn't seen this before, but yeah I really like it!

[2015-07-11 22:50] nucliweb commented on #7
Ok, I will work in this concept for the credits section ;)

[2015-07-13 21:57] shiffman opened #104 "static mode"
I can't find an issue discussing this so thought I would note one here.  (Apologies if I'm just out of the loop.)

Is implementing support for quick "static" sketches on our radar / something we want to implement?  I have always used Processing's static mode for teaching and find it nice to avoid the whole `setup()` and `draw()` thing the first week.  This would be something (as with the Processin

[2015-07-14 03:35] brysonian commented on #104
I was wondering the same thing. Somehow I thought that static mode was supported by the lib but maybe it was removed?

[2015-07-14 04:06] antiboredom commented on #104
hey @shiffman thanks for bringing this up - I think I should be able to get this working. Static mode is effectively the same as just evaluating code in setup but not draw, correct?

[2015-07-14 05:17] antiboredom commented on #104
@shiffman - decided to take a crack at it. I added a check for window.setup and window.draw - if neither exists it'll grab the user's code and then eval it inside a setup function. Can give it a look and let me know if it's what you had in mind?

here's the branch:
https://github.com/processing/p5.js-editor/tree/static-mode

and here's a build:
http://saaaam.s3.amazonaws.com/p5.app.zip

[2015-07-14 09:45] shiffman commented on #104
@antiboredom yup, this works perfectly.

@brysonian I recall a discussion a long time ago with @lmccart about static mode, it was there at some point and I think maybe it was removed b/c it was overly complicated to implement/maintain for any native environment?  Gosh, I have a terrible memory.

With the IDE, as @antiboredom has done, I think it's worth having in there?  Although is that a problem

[2015-07-14 15:08] brysonian commented on #104
Yeah this is perfect, thanks @antiboredom! Just in time to record a class tomorrow. I guess it is a little concerning that it doesn't work outside of the IDE. But short of adding an export feature or making this part of the core i'm not sure how to handle it. Perhaps (and maybe this is a good idea anyway) we should throw an error if no setup function is found? That might be ab opportunity to put s

[2015-07-14 16:13] antiboredom commented on #104
Hey all - glad it's working for you. As far as the compatibility issue goes I'm not sure what I think is best. It's definitely not great that it'll only work in the IDE but maybe this is ok? It also doesn't work if you have the "run in browser" option checked. Export is an option but I'm hesitant to include it since this would be the only use case right now.

@brysonian if you're going to be using

[2015-07-14 16:24] brysonian commented on #104
@antiboredom no not yet, as long as we think it'll be a feature we can screen record against the zip up there, the class won't be online for a while so we will have time to think through all the details.

[2015-07-14 17:28] lmccart commented on #104
yes, the mode with no setup/draw was discussed in this [thread](https://github.com/processing/p5.js/issues/158) and we decided against it because there didn't seem to be a good way to support this as well as instance mode.

[2015-07-14 17:47] polyrhythmatic opened #105 "stroke() has no default value"
Using the function
`stroke()`
gives different results in Chrome 43.0.2357.132 when compared with p5 editor 0.3.2

In chrome it seems there is a default value whereas in the editor I receive the error

`Uncaught Error: [object Arguments]is not a valid color representation.`

Using a value
`stroke(255)`
eliminates this error.

Perhaps this is an issue with p5 - I am not sure the intended design of s

[2015-07-14 21:48] shiffman commented on #104
Ah, thanks for the reminder about the thread.  At the end @lmccart says:

My feeling right now is to support it in the IDE (and possibly the web one too, cc @therewasaguy), but not support a separate export feature.  My gut is that we'll be ok.  Static mode would likely only be used at the very beginning of a class or workshop and by the time anyone is at the point where they might actually be wor

[2015-07-14 22:32] brysonian commented on #104
I suppose the system into which the homework is uploaded could also do the wrapping, it does make things complicated though.

[2015-07-16 18:37] antiboredom commented on #79
hey @andyinabox - if you have some time, please do. thanks!

[2015-07-16 22:54] dhowe opened #106 "Should placing a library inside the libraries folder generate a script-src tag in index.html?"
The intuition (at least for me) is that all I would have to do to add an additional library was to place it in the libraries folder:

![screen shot 2015-07-17 at 6 52 47 am](https://cloud.githubusercontent.com/assets/737638/8737032/b8d45942-2c50-11e5-93dc-96efd526bfe6.png)

[2015-07-17 00:01] antiboredom commented on #106
good points! More generally I'd like to implement a library management gui. Something that lets you add and remove third party libraries.

[2015-07-17 21:05] lmccart opened #107 "drag and drop media file onto editor window should add to folder"

[2015-07-17 21:05] lmccart opened #108 "need "show sketch folder" item in menu"
a la processing

[2015-07-17 21:07] lmccart opened #109 "p5.js application should stay open if last window is closed"
I think?

[2015-07-17 22:36] brysonian opened #110 "Leak in nwhelper"
I'm seeing a steady increase in resource usage every time I hit run. This might be related to this nw issue: https://github.com/nwjs/nw.js/issues/2372

[2015-07-21 19:25] antiboredom commented on #109
I'm not sure! How important do you think this is?

[2015-07-21 19:30] #108 closed

[2015-07-21 19:36] antiboredom commented on #105
I'm getting the same error in chrome - can you duplicate this?

[2015-07-21 19:58] antiboredom commented on #107
@lmccart do you think this should copy the file or actually move it? I am leaning toward copy.

[2015-07-21 21:22] lmccart commented on #107
yes I think copy, mirroring the functionality of the processing ide

[2015-07-21 21:25] lmccart commented on #109
I noticed this when I was working with many examples I wanted to demo. I'd close one and then the app would immediately exit and I'd have to reopen p5 before opening the example. This is also how Processing works (editor stays open) and others like Sublime, so it might be nice to mirror that.

[2015-07-27 19:38] nextest opened #112 "Run (play button) loads wrong project."
I press the play button for a project (called "Second", index file title:"NotTitled"), but it loads an old project(called "new") usually without the old project running. Have yet to figure out the exact conditions when this happens. Clicking the Index file i've saved on my harddrive will load the correct project. Here is a screen shot, I've pressed the play button for "Second, but the browser that

[2015-07-27 19:47] antiboredom commented on #112
Thanks - I thought we had fixed this issue. Just to make sure - are you running the most recent version of the editor?

[2015-07-28 13:05] nextest commented on #112
It seems like i'm running the  0.3.2 version of the editor. I also
downloaded all the "complete library".

thanks.
ap

On Mon, Jul 27, 2015 at 3:47 PM, Sam Lavigne <notifications@github.com>
wrote:

--
Liberté, Egalité, Fraternité
ap

[2015-07-28 16:27] antiboredom commented on #112
Thanks I'll take a look!

[2015-08-04 18:37] antiboredom opened #115 "keyboard shortcuts missing from menu [windows]"

[2015-08-04 18:38] antiboredom opened #116 "recent files menu doesn't load [windows]"

[2015-08-04 18:41] antiboredom opened #117 "hitting run should focus sketch output [windows]"

[2015-08-04 20:22] antiboredom opened #119 "update notification needs to differentiate between mac & windows versions"

[2015-08-05 19:59] #115 closed

[2015-08-05 19:59] #116 closed

[2015-08-05 19:59] #117 closed

[2015-08-05 19:59] #119 closed

[2015-08-06 14:11] allonestring opened #121 "ctrl/t"
I've just downloaded, unzipped and started the editor. It shows a nice default screen:
function setup() {

}

function draw() {

}

I know that it's just personal preference but I like the open curly brackets on a new line:
function setup()
{

}

function draw()
{

}

When I press ctrl/t they jump back onto the same line as the function (or if/else/for). In Processing this doesn't happen. Do you t

[2015-08-11 04:44] baku89 opened #122 "CoffeeScript support"
Thanks a lot for making this useful tools :+1:
Is there a plan for supporting CoffeeScript?

[2015-08-14 21:56] dano1234 opened #123 "Using Data Returned by LoadXML"
Problem in P5 IDE all fine in Sublime.
When I try to print data I get  "Maximum call stack size exceeded"  Also can't iterate through it.

function setup() {
loadXML("http://www.ps3nyc.org/news/feed/?cat=32",getNews);
}

function getNews(data){
//This gets uncaught RangeError: Maximum call stack size exceeded
console.log(data);

//the approach of iterating is foiled by Cannot read property 'getEle

[2015-08-17 16:50] bmoren opened #124 "should 'empty_project' include 0 padding and margin?"
```<style> body {padding: 0; margin: 0;} </style>```

Is there a reason that the above line is excluded in the editor but included in the p5.js complete example project?

I think it's a nice thing to add to the default start project for the editor

[2015-08-17 16:53] antiboredom commented on #124
Good catch!

[2015-08-18 13:14] indefinit commented on #57
+1 for this feature.  This would really help speed up sketching.  Also, doing it with a websocket is cool but I don't think it's completely necessary to get livereload functionality.

[2015-08-18 13:18] indefinit opened #125 "Update p5js version that ships with build"
Loving all of the improvements to the IDE + Windows support!  I was just wondering, when you plan on updating the p5js build version that ships with the IDE?  I'm starting to document and test webgl using the IDE which is now available in the master branch, but unavailable in v0.4.5.  Thanks!

[2015-08-18 20:26] infernalmaster commented on #55
Also tab for that new file is not clickable, if it was not closed before save action.

[2015-08-21 16:16] indefinit opened #128 "Typo: Untitled project, index.html: lines 9-10 should be commented out by default"
When opening the p5 editor, the default index.html reads

[code]
The lines below the inline comment should be commented out by default.  Like this:

[code]

[2015-08-21 19:15] antiboredom commented on #125
Will do!

[2015-08-21 19:16] antiboredom commented on #122
Not currently, but I'm not opposed to it!

[2015-08-21 19:17] antiboredom commented on #128
Actually I think that we should leave them in, and just remove the line about uncommenting them, given that our goal is to make this as easy to use for beginners as possible.

[2015-08-21 19:21] #124 closed

[2015-08-21 19:21] #128 closed

[2015-08-21 19:21] #125 closed

[2015-08-21 19:34] antiboredom commented on #123
I'm seeing this too and not sure why. Although it's also not working for me in chrome, but giving a different error ("Cannot read property 'getElementsByTagName' of undefined")...

[2015-08-21 19:39] sepans commented on #122
Don't know how transpilers integrate with Ace but it is interesting to try it out especially with Babel for ES6. I can take a look (iff you merge my previous PR @antiboredom ;)

[2015-08-21 19:52] antiboredom commented on #122
It would definitely open up some interesting possibilities although we'd have to completely change the way we deal with previewing projects. @sepans is your PR ready? So sorry thought you were still working on it!!

[2015-08-22 03:13] baku89 commented on #122
Thanks for discussing my issue. I might not help you in coding but I'll enjoy beta testing if needed :smile:

[2015-08-27 03:28] bmoren commented on #110
I've seen this a number of times to the point of running out of system memory recently. Ive also seen this happen to at least 3 of my students while drawing only simple 2d primitives. Just thought I should add a confirmation.

[2015-08-27 03:46] antiboredom commented on #110
Thanks guys I'll take a look.

[2015-08-27 04:37] antiboredom commented on #110
@brysonian @bmoren can you try this build and let me know if there are any improvements? http://saaaam.s3.amazonaws.com/p5-0.5beta.zip

If not, can you send me your system info and a sample sketch that causes the issue? Thanks!

[2015-08-27 05:14] bmoren commented on #110
I'll give it a spin!

[2015-08-27 19:35] antiboredom opened #129 "sketch window size grows upon close and open"

[2015-08-27 19:35] antiboredom commented on #129
the height keeps getting longer...

[2015-08-27 22:31] antiboredom opened #130 "register mac file types"
you should be able to open .js, .html and .css files from the finder in the editor

[2015-08-27 22:31] antiboredom opened #131 "drag onto dock"
dragging a file or folder on the dock icon should open a project

[2015-08-27 22:32] antiboredom opened #132 "default sketch window size should be canvas size"
when running a sketch the default size of the output window should be the size of the canvas, or the body if other dom elements are present

[2015-08-27 23:07] p5k12 opened #133 "Confirm Reload prompt"
Working with the Windows version.

Nearly every time I make a change to the sketch.js file and run it (with an error) I'm prompted with

[2015-08-27 23:10] p5k12 opened #134 "Press Play opens Print dialog"
This is a p5js issue and not an editor one.  Even when I use Sublime & Chrome, I'm getting this behavior.
[code]
When I run this, a print dialog box opens up.  When I comment out the `print` line, it does not.

[2015-08-27 23:24] antiboredom commented on #134
wow! that's really crazy. can you duplicate this?

[2015-08-27 23:38] shiffman commented on #132
Also, if you change the size of the canvas, the window should adjust accordingly *unless* you have already manually resized the window, then it stays with your resize?

[2015-08-27 23:39] antiboredom commented on #134
Ah! I see. Can you file a bug for this over on the p5.js repo?

[2015-08-27 23:39] #134 closed

[2015-08-28 21:29] #129 closed

[2015-08-28 21:29] #130 closed

[2015-08-28 21:29] #131 closed

[2015-08-28 21:32] antiboredom commented on #104
we've decided to not implement this for the time being! Closing the issue but if anyone feels very strongly about adding this in the future please just let me know.

[2015-08-28 21:32] #104 closed

[2015-08-28 21:46] antiboredom commented on #121
does anyone else have thoughts on this?

I'm happy to add this to the to do list, my only issue is that I'm trying to minimize the quantity of preferences to a minimum.

[2015-08-28 21:48] antiboredom commented on #105
I think this is an issue with p5 and not the editor. Closing for now but if anyone else comes across the problem please let me know and I'll re-open.

[2015-08-28 21:48] #105 closed

[2015-08-28 21:48] #79 closed

[2015-08-28 21:49] lmccart commented on #121
maybe a solution is to do something where you can actually edit the underlying settings file in raw form, if you have enough knowhow to do this. but it's not something beginners have to worry about in a settings menu?

[2015-08-28 21:50] #96 closed

[2015-08-28 21:54] antiboredom commented on #121
yeah - that could work. We could also add an "advanced" settings mode that's hidden by default.

[2015-08-28 21:54] antiboredom commented on #40
I'm not able to replicate this - closing for now.

[2015-08-28 21:54] #40 closed

[2015-08-29 11:07] allonestring commented on #121
Thanks for considering this change, but I wonder if you need to change the formatting at all. Rather than add an option to an advance menu, just leave this particular bit of formatting as the user typed it. Again this is how it is in the original Processing.
As for beginners, I find that it’s easier for them (well the 10-11 yo beginners that I teach) to have the open curly on a new line so that th

[2015-08-29 14:11] shiffman commented on #121
Protecting the preferences and keeping it to an absolute minimum is key to making a simple, beginner friendly environment (in my view).  The solution @lmccart suggests is exactly how we handle this sort of thing in Processing.  There's a preferences.txt file that has a zillion things in it, but the actual preferences itself is limited to a single page with only the very most key preferences.

[2015-08-29 14:30] shiffman commented on #131
I'm not able to get dragging a folder to work.  Is this expected to work or is there an OS limitation? (I may be missing something.)  Holding off on re-opening.

[2015-08-29 14:31] shiffman commented on #132
This is the behavior I'm seeing:

1. `createCanvas(200,200)` -- window auto-set to 200,200
2. I manually resize browser window
3. `createCanvas(300,200)` -- my manual resize is lost and window set to 300,200.

I think once you manually resize we should always keep that size even if you change canvas?  Otherwise, all other scenarios are working great as far as I can tell.

[2015-08-29 17:48] #132 closed

[2015-08-29 17:48] antiboredom commented on #132
got it - think it's fixed now.

[2015-08-29 18:15] antiboredom commented on #131
Oh yeah - still working on that bit - should have something soon!

[2015-08-29 19:50] antiboredom commented on #131
should be fixed now - will make a new build soon...

[2015-08-29 20:06] antiboredom commented on #110
@bmoren are you noticing any improvements?

[2015-08-29 21:27] bmoren commented on #110
Yes! Immediately. It noticeably hangs less when hitting the play button to run the sketch as well. One of my students has been testing as well, I should have his report on Tuesday

Ben Moren
http://benmoren.com

Sent from my mobile phone

[2015-08-30 01:58] brysonian commented on #110
Yeah i've been running it here and it is much better!

[2015-08-30 02:00] antiboredom commented on #110
Great - thank you for testing!

[2015-08-30 02:00] #110 closed

[2015-08-30 02:09] shiffman commented on #132
Great!  Just to be clear, I'm not 100% confident that this is the "correct" behavior.  Just my initial instinct.  We'll see as we get feedback and test!

[2015-08-30 02:31] antiboredom commented on #132
Cool - it feels right to me now also - and of course happy to modify later if needed.

[2015-08-30 18:30] antiboredom opened #135 "title in index.html should match project name"

[2015-08-30 18:31] antiboredom commented on #135
when you save a project (or save as), the title of the index page should change to match the project name.

[2015-08-30 19:35] #135 closed

[2015-08-31 20:40] therewasaguy commented on #109
I agree, this would be nice

[2015-08-31 20:41] therewasaguy commented on #106
Similarly, when adding a new Tab, can we assume that you want to link the tab in your index.html, and auto-generate the appropriate script / link tag?

[2015-08-31 20:51] therewasaguy opened #136 "if multiple canvases, don't auto-resize window to canvas size"
The changes from [#132 (default sketch window size should be canvas size)](https://github.com/processing/p5.js-editor/issues/132]) make a big difference for the majority of projects.

But now, when working with instance mode / creating multiple canvases, the window resizes to only show the first canvas.

We could say that if we find more than one "createCanvas," do nothing / use default window siz

[2015-09-01 06:19] KouichiMatsuda opened #137 "The new version says "A newer version P5 is available. Do you want to dwonload it?" (p5-win)"
Maybe a bug.
I tried to download it three times but it always shows the same message.
Is there any way to check the version number of the editor?
p.s.
  The new editor? sometimes creates an infinite sketch.js holder.

[2015-09-01 17:25] antiboredom commented on #137
hmmm. Can you try downloading the new version directly from the releases page and let me know if the message is still popping up? https://github.com/processing/p5.js-editor/releases/tag/v0.5.0

[2015-09-01 18:37] shiffman commented on #137
I'm experiencing this as well FYI.  I'm at ITP @antiboredom if it helps you to take a look in person.

[2015-09-01 18:44] shiffman commented on #106
Was about to chime in and noticed @therewasaguy beat me to it!  I think it's better to assume it will be used and files can be removed manually.  Rather than have to add to `index.html` manually.

[2015-09-01 18:44] shiffman commented on #137
Sorry, mac 10.10.4

[2015-09-01 18:50] antiboredom commented on #137
Ok thanks ! I'm it it!

[2015-09-01 18:57] bmoren commented on #137
version 0.5.0 is listed as version 0.4.0 under the about menu.

[2015-09-01 19:23] antiboredom commented on #137
Sorry about this guys I believe it should be fixed now (you'll need to re-download the latest release however).

In either case I'm going to add a new issue about making the update dialog not appearing each time.

[2015-09-01 19:23] #137 closed

[2015-09-01 19:31] shiffman opened #138 "Drag index.html onto dock"
Related to #131, if I drag index.html onto doc, I get the following.  I'm not sure what the correct behavior should be.  I suppose in this case `index.html` should be shown, but I think by default all of the js files should also be visible.  If only a js file is dragged then `index.html` can be hidden?

![screen shot 2015-09-01 at 3 31 01 pm](https://cloud.githubusercontent.com/assets/191758/96142

[2015-09-01 19:32] shiffman opened #139 "Cannot "open" a project by the folder"
While I now can drag a folder onto the dock (#131), when I try to open something by FILE --> OPEN, selecting a directory requires me to then select a file inside a directory.  I would prefer to open the project directly from the folder itself.  I think?

[2015-09-01 19:33] shiffman commented on #137
I can confirm this is fixed for me!

[2015-09-01 19:41] antiboredom commented on #139
Agreed that this would be much better. Ideally you would be able to select a folder or a file, and both would work. But nodewebkit doesn't seem to let you do this, or didn't last time I tried. I'll take another look though since the project has evolved a bit since I did the basic open file/project dialog.

[2015-09-01 21:34] acarlson237 commented on #112
Still having some issues with this on 0.5.0.  I think it has to do with when there's errors in the code, hitting play runs the last functional sketch, sometimes after removing or fixing the errors, hitting play will still run the old version.  Temp solution I've found is to save your updated sketch, and restart the editor.

[2015-09-01 23:47] antiboredom commented on #112
@acarlson237 thanks - I was having trouble duplicating the issue.

[2015-09-01 23:56] antiboredom commented on #112
@acarlson237 actually I'm still unable to duplicate. There was a previous issue where sketches weren't loading properly after first saving them (or after "saving as"), and I'm wondering if this might be related. Have you by any chance noticed the problem after saving projects for the first time?

[2015-09-02 15:48] shiffman opened #140 "Sidebar default"
What is the default preference for the sidebar?  I was expecting it to not be viewable by default, but I see it with a fresh install.  But perhaps it should be showing by default?  I am not sure.

[2015-09-02 15:52] antiboredom commented on #140
It should be hidden!

[2015-09-02 19:01] shiffman opened #141 "caching issue"
@antiboredom and I are looking at a caching problem I experienced in class.   The best solution may be to disable caching entirely in webkit.  This issue may point to a solution:

https://github.com/nwjs/nw.js/issues/2707

[2015-09-02 23:50] antiboredom commented on #140
Fixed in latest release

[2015-09-02 23:50] #140 closed

[2015-09-02 23:50] antiboredom commented on #141
Ok I gave it another shot. Possibly fixed but I can't duplicate on my computer so lemme know if it's still busted

[2015-09-03 22:44] shiffman opened #142 "Auto-format "select all""
Auto-format selects all the text and if the text is longer than the window vertically it also automatically scrolls to the end.  I think the expected behavior is to not select any text and keep the vertical scroll as is.

[2015-09-03 22:59] antiboredom commented on #142
fixed for next release!

[2015-09-03 22:59] #142 closed

[2015-09-04 15:59] Echo1234 opened #143 "windows 32-bit build"
I just downloaded the p5.js editor for windows and everything went smoothly but when I tried running it i got this message: "This app can't run on your pc". I'm using the Windows 8 operating system. What might be causing this to happen? Thanks in advance.

[2015-09-04 16:13] antiboredom commented on #143
Do you happen to know if you're running windows 32-bit or 64-bit?

[2015-09-04 20:33] p5k12 commented on #143
Hi,

Runs fine for me on Windows 8.

8.1 Enterprise
x64
i5-3230M
8G RAM

ms

On Fri, Sep 4, 2015 at 12:13 PM, Sam Lavigne <notifications@github.com>
wrote:

[2015-09-06 04:49] Echo1234 commented on #143
I'm running windows 32-bit. Is that the problem?

[2015-09-06 04:55] antiboredom commented on #143
@echo1234 that's probably the problem. I'll make you a 32-bit build tomorrow and hopefully it'll work on your system.

[2015-09-06 04:59] Echo1234 commented on #143
Thanks a lot. I would really appreciate that.

[2015-09-08 00:54] lmccart opened #144 "errors while running in editor window (related to socket.io?)"
The problem seems to be that occasionally the editor will throw up a whole lot of errors when using the built-in window. The best solution seems to be to restart or to choose the "run in browser" option.

![1](https://cloud.githubusercontent.com/assets/191056/9724265/86b08f00-55a2-11e5-96e6-506c94171de9.png)

Attaching some student comments in case they are helpful:

"I found that when I created a

[2015-09-08 08:05] Echo1234 commented on #143
So what's the update on the 32-bit build? It's alright if you didn't have any time to make it.

[2015-09-08 15:45] antiboredom commented on #143
hi @Echo1234 - try this, and let me know if it works: http://saaaam.s3.amazonaws.com/p5-5.1-win32.zip

[2015-09-08 18:54] shiffman opened #145 "Save file vs. Save project"
I noticed today confusion around save file as vs. save project as.   A drastic measure might be to remove "save file as" entirely and only keep "save" and "save as" for the entire project.  This has the benefit of simplicity, but perhaps "save file as" is important for a reason I'm missing?  What's a user scenario for "save file as"?

(Related to this, if a user does not have the sidebar viewable

[2015-09-08 18:56] shiffman opened #146 "browser window not sized properly"
I am not seeing this on my main machine, but on an ITP classroom laptop and a student's computer (both macs running 0.5.1), I am seeing the browser window sized too small with scrollbars, i.e.

![screen shot 2015-09-08 at 2 54 35 pm](https://cloud.githubusercontent.com/assets/191758/9744432/c2e2dc02-5639-11e5-9adb-68ae46b48d91.png)

[code]

[2015-09-08 19:10] shiffman opened #147 "Color Selector"
Students have asked about selecting colors, implementing something like Processing's Color Selector may be something to consider at some point.

<img width="547" alt="screen shot 2015-09-08 at 3 10 43 pm" src="https://cloud.githubusercontent.com/assets/191758/9744766/c9fb1778-563b-11e5-8de3-228fb7ff8f0b.png">

[2015-09-08 19:31] shiffman commented on #145
@antiboredom went over this a few times and have decided to (for now) remove save file as and "save project as" will become "save as."  Speak now if you have any comments.

[2015-09-08 19:32] lmccart commented on #145
:+1:

[2015-09-08 19:33] shiffman commented on #146
This is due to having "Show scroll bars" set to "Always" in Mac OS X System Preferences --> General.  @antiboredom is going to try increasing by a pixel or two and see if it helps, otherwise it's probably a documentation issue we need to think about.

<img width="529" alt="screen shot 2015-09-08 at 3 31 59 pm" src="https://cloud.githubusercontent.com/assets/191758/9745297/da807310-563e-11e5-8f39-7

[2015-09-08 19:34] lmccart commented on #146
can we build hidden scrollbars into the style in the default html? similar to `body{margin:0; padding:0}`? I may not know what I'm talking about!

[2015-09-08 19:40] antiboredom commented on #146
Tried that very quickly with overflow: hidden but it disabled scrolling completely. I think there's another css way to do it - will look into it.

[2015-09-08 20:29] antiboredom commented on #146
OK - looked into this a bit more - here's the deal. The canvas element has a default styled of `display:inline; vertical-align: baseline` which is what is actually causing the scrollbar to appear. We have three css options to fix this (there are probably others as well, but all three of these seem to do the trick):

1. Hide all scrollbars on the body `body::-webkit-scrollbar { display: none; }`
2.

[2015-09-08 20:32] lmccart commented on #146
hm. gut instinct, i'm most in favor of #1. because it leaves the default flow and layout of the elements intact as we claim to do with the p5.js library.

[2015-09-08 20:34] lmccart commented on #146
on the other hand, it seems like a user might expect or want scrollbars.

i do think if they weren't showing up the first place they might look is in the html file and the scrollbar style line is pretty clear, so they could easily remove it.

i think either 1 or 2 would be fine.

[2015-09-08 20:38] shiffman commented on #146
I think we ultimately want users to be able to move the canvas element around (as many examples do) so I am inclined to go with option 1.  I'm not 100% sure any of this is necessary though since we are just mirroring the actual OS behavior and it's fixable with the preferences.   Maybe we try 1 and see how it feels or we hold off on this and wait for more testing and see how often it comes up?

[2015-09-08 21:08] antiboredom commented on #146
The problem with option 1 is that the scrollbars will always be hidden no matter what (including when you are scrolling, which is different than the default os behavior). The problem with 2 is that it changes canvas to a block element which totally changes document flow. And here's what option 3 would alter:
![image](https://cloud.githubusercontent.com/assets/344861/9747511/f77a3886-564b-11e5-9236

[2015-09-09 01:04] #145 closed

[2015-09-09 13:55] Echo1234 commented on #143
Hello @antiboredom , the download seems to stop at 0.1 MB every time i try to download it. I'll reply again when i get it to work. By the way, thank you very much for taking the time to make it.

[2015-09-09 16:31] Echo1234 commented on #143
I just finished downloading it and it worked PERFECTLY! THANK YOU! You've really helped me out and man I can't thank you enough. You've really made my day mate. Thanks again.

[2015-09-09 17:41] nextest commented on #112
I"m having the issue right now.  have closed and opened the ediotor several
times. I'm still getting an error at line 17. I"m in a new document with
only 7 lines.[image: Inline image 1]

On Tue, Sep 1, 2015 at 7:56 PM, Sam Lavigne <notifications@github.com>
wrote:

--
Liberté, Egalité, Fraternité
ap

[2015-09-09 17:43] antiboredom commented on #112
@nextest can you resend that screenshot? It's not coming through for me.

[2015-09-09 18:58] antiboredom opened #148 "auto-updating p5 libraries sometimes results in empty files"

[2015-09-09 19:28] therewasaguy commented on #148
i'll check this out!

[2015-09-09 19:50] antiboredom commented on #144
I've just moved this from socket.io to using postMessage.

[2015-09-09 19:50] #144 closed

[2015-09-09 20:59] #4 closed

[2015-09-09 21:59] antiboredom opened #150 "Test for memory leaks"
https://www.npmjs.com/package/memwatch

[2015-09-09 23:18] #148 closed

[2015-09-11 19:02] shiffman opened #151 "Save as inside existing project = infinite subfolders"
1. Create a project called "something1"
2. Save as "something2" inside the "something1" directory.

See a magical infinite set of subdirectories.

![screen shot 2015-09-11 at 3 00 20 pm](https://cloud.githubusercontent.com/assets/191758/9823719/174ae614-5896-11e5-96be-bc9609c7c4da.png)

It works fine if you move out of the current existing directory.

[2015-09-11 20:16] lmccart opened #152 "prevent === warning message"
Can we prevent the "Use `===` to compare" warning from happening? I could see this being confusing to students if we are teaching them just to use `==`.

![screen shot 2015-09-11 at 4 15 38 pm](https://cloud.githubusercontent.com/assets/191056/9825315/6b48f346-58a0-11e5-9957-9280905249bd.png)

[2015-09-11 20:31] antiboredom commented on #152
Sure! Do you think we should get rid of warnings altogether?

[2015-09-11 20:33] antiboredom commented on #151
Hahahah amazing

[2015-09-11 20:42] shiffman commented on #146
I see that you added a solution into the recent release and I like it.  It feels ok to not see the scrollbars in the IDE since it feels like something a little different than a browser (and scrolling is still possible).  However, while this should have been obvious, I only now noticed that once you take your sketch outside of the editor, the behavior is retained. . . which is maybe a problem?  Stu

[2015-09-11 20:45] antiboredom commented on #146
Actually I ended up going with the vertical-align option so it shouldn't hide scroll bars in the browser...

[2015-09-11 20:51] shiffman commented on #146
Got it, sorry, I must have had that in my `index.html` from when we were testing and I kept "saving as" for new projects. . . apologies.

[2015-09-13 02:53] evejweinberg opened #153 "Program won't quit with an Untitled/Unsaved project"
Tried to quit (and discard this untitled doc) but get prompted 'Quit and Lose changes?', then I click 'Ok' but the program will not close until I save the doc as something. I got caught in a loop where I clicked 'Ok' and was prompted again, until I finally had to save the document to quit the program.

![screen shot 2015-09-12 at 10 49 05 pm](https://cloud.githubusercontent.com/assets/4630497/9834

[2015-09-13 03:37] antiboredom commented on #153
Thanks! I'll look into it.

[2015-09-13 19:40] antiboredom commented on #151
Ok, next release will prevent users from "saving as" a project into it's own directory.

[2015-09-13 19:40] #151 closed

[2015-09-13 19:41] #146 closed

[2015-09-13 19:42] #153 closed

[2015-09-15 20:32] bmoren opened #155 "save() does not work in the editor"
It does work if you open in browser

[code]

[2015-09-19 17:02] Jasotasticon commented on #112
I'm having the same issue. Newest version of the software.

[2015-09-19 17:06] Jasotasticon opened #156 "Running Project Runs the Wrong File"
When I select File>Run the browser opens another past project instead of the one that is currently opening. Happens every time. I've seen this on other threads, but no answer. Would love some help.

[2015-09-19 18:02] nextest commented on #112
It does have something to do with  errors but I think  also  renaming
files.
Le 19 sept. 2015 13:02, "Jasotasticon" <notifications@github.com> a écrit :

[2015-09-20 20:06] lmccart opened #157 "Recursion Example in environment should be named "Functions""
reposting @pippinbar's issue on the p5.js repo:

"The Recursion Example in the downloadable environment (v0.5.2) is an example of using function calls to repeat work, rather than recursion. This example does not seem to appear on the website.

I don't know if this is overly picky, but it might confuse some learners about the nature of recursion (I'm teaching a course that involves some introductor

[2015-09-20 20:18] lmccart commented on #157
looks like it would be helpful to just do a new pull of the examples from the site. this issue is also related: https://github.com/processing/p5.js/issues/924

[2015-09-21 23:48] pippinbarr opened #158 "Sound Effect example uses ellipse with 'radius' parameter instead of height and width"
In the Sound Effect example the doorbell is drawn as an ellipse using the specified *radius* as its width and height, rather than 2*r, then means the doorbell highlights when the mouse is not actually over the drawn ellipse because the dist() function triggers based on the "real" radius.

[2015-09-24 18:56] therewasaguy opened #159 "bugs when editing library files in new projects"
If I edit a file in the libraries folder (p5.js, p5.sound.js or p5.dom.js) before saving a project, I don't see the changes reflected in my sketch.

When I save the project for the first time, that asterisk goes away. I can open the library file in another program and see the change I made. But the change is still not reflected in the sketch.

If I navigate to another tab after saving changes to a

[2015-09-24 20:41] antiboredom commented on #159
little confused - you'll have to show me in person.

[2015-09-24 20:42] antiboredom commented on #156
hey @Jasotasticon sorry that's happening. The reason we haven't addressed this properly yet is that I haven't been able to replicate the issue on my computer. Can you provide any more details about what's going on? Thanks.

[2015-09-24 20:43] antiboredom commented on #155
as far as I can tell this is an issue with nodewebkit. We might have to overwrite p5s save function to fix it.

[2015-09-24 21:06] bmoren commented on #156
I've had students also claiming this happens, but cannot replicate. my TA insists its a caching issue, but I cannot replicate it.

[2015-09-24 21:42] antiboredom commented on #155
this is fixed now and will be available in the next release.

[2015-09-24 21:42] #155 closed

[2015-09-24 21:49] antiboredom commented on #157
@lmccart hey - so we're pulling from this file to get those structure examples: https://api.github.com/repos/processing/p5.js-website/contents/examples/examples_src/00_Structure?ref=master

It looks like it references both a recursion and function example. Can you remove the recursion example?

[2015-09-24 21:53] #157 closed

[2015-09-25 11:47] indefinit commented on #156
I had the same issue in yesterday's class.  The steps I took were this:

- Multiple project windows open at once.
- Closed one project, then File--> open
- Opened a different project than had previously been open, and pressed play.
-Server launches and starts to play 1st sketch I had shown in beginning of class, not currently active project.

All project directories tested are located under the sa

[2015-09-25 16:20] antiboredom commented on #156
Thanks @indefinit - super helpful!

[2015-09-27 21:56] lmccart commented on #157
doh. fixed, put up a _real_ recursion example: http://p5js.org/examples/examples/Structure_Recursion.php

[2015-09-28 16:36] lmccart opened #160 "editor stuck"
[repost](https://github.com/processing/p5.js/issues/946) from @zivschneider
The editor freezes on my computer and another one I tested on.
Force quit window does not indicate program is not responding though.

[2015-09-28 16:57] antiboredom commented on #160
This turned out to be an issue with the specific sketch being run.

[2015-09-28 16:57] #160 closed

[2015-09-30 01:50] shiffman opened #161 "dragging a unassociated sketch.js file onto the editor"
This scenario has come up a few times.  A student has a `sketch.js` file on their desktop, not in a folder with an `index.html` and `libraries` directory.   The student drags that file onto the p5.js editor.  It opens but doesn't run of course since the the html file is not there. And if you select "show sidebar" your whole desktop appears (since that's its directory).

I propose making some attem

[2015-09-30 01:53] shiffman opened #162 "when does the editor update the p5.js library files?"
Apologies if this is already implemented or discussed elsewhere, but a quick search did not reveal.  When does the editor update the p5.js library?  Does it do this only with new editor releases?  Should we have an option to "check for new p5.js library" on a per project basis?  Or just for the editor to use when making new projects?  We certainly shouldn't override library files in existing proje

[2015-09-30 02:35] benhinchley commented on #65
I am going to close this issue, though I am still working on the package just been a bit slow. will open this back up when I have released something

[2015-09-30 02:35] #65 closed

[2015-09-30 14:52] shiffman opened #163 "files have been modified outside the editor messages"
Apologies in advance for making such a vague issue post.  I'm hoping to be able to pinpoint this more precisely and add more information here.   I'm starting this thread just to note that over the last couple days I've seen with students the (paraphrasing)  "files have been modified, you will lose your changes, ok or cancel" alerts often.  I believe that these are occurring erroneously though, aga

[2015-09-30 15:07] jamesjgrady opened #164 "White line under console area"
When resizing the window a white line appears at the bottom of the window.

![screen shot 2015-09-30 at 10 53 58 am](https://cloud.githubusercontent.com/assets/2600893/10196936/5b1b3598-6763-11e5-9539-2e42c5b59b56.png)

[2015-09-30 15:09] jamesjgrady opened #165 "Default console area seem too large"
See like an excessive amount of space for the console area requiring scroll bars without anything displaying.

![screen shot 2015-09-30 at 10 53 58 am](https://cloud.githubusercontent.com/assets/2600893/10197029/bf80f78e-6763-11e5-955f-70ed675579d2.png)

[2015-09-30 15:12] benfry commented on #165
Wrong area; sorry.

[2015-09-30 15:12] #165 closed

[2015-09-30 15:13] benfry commented on #164
Moved here https://github.com/processing/processing/issues/3919, sorry for the noise.

[2015-09-30 15:13] #164 closed

[2015-09-30 16:40] lmccart commented on #163
I see this message if I open the same project more than once and edit one (as expected). Have you seen it happen in an unexpected case or do you think students might just be getting confused and reopening the same project in another p5 window?

[2015-09-30 17:37] shiffman commented on #163
It could be that, yes.   Though it would be nice for the editor not to allow the same project opened twice?  My suspicion is something going on when media assets are moving in and out of the directory?

I will do some further testing and try to report back more specifics.

[2015-10-01 17:15] antiboredom commented on #163
Think I fixed this! Will be included in the next release.

[2015-10-01 17:15] #163 closed

[2015-10-02 01:39] indefinit opened #166 "node-webkit mode: sketch disappears after minimizing window [MSW only]"
A bit of an outlying use case but one of my students found this...

A blank, untitled sketch will disappear if running in node-webkit mode (non-browser).  Steps to reproduce on Microsoft Windows:

Open new project,
Press play (don't write any code),
Minimize the window,
Maximize the window

The sketch window is now gone.

[2015-10-02 21:25] shiffman opened #167 "Some notes from today at ITP"
We had a workshop today with heavy use of the p5.js editor and the new serial server.  I'm making some notes here as I recall.  Some of these issues may be for the [serialport](https://github.com/vanevery/p5.serialport) repo.

* Should editor include p5.serialport.js?  Probably not for every project.  Probably as some sort of "add library" option.
* Does the editor restart the server on each run?

[2015-10-03 12:20] lmccart opened #168 "Serialserver implementation never closes port"
When you use p5.serialport in the editor (0.5.4 or later) the serialport in the serialserver is never closed when you stop the sketch. The problem with this is that, when you restart the sketch, the port you opened previously is still open. This causes problems for other applications attempting to open the port (like Arduino IDE). It also makes it impossible to choose a new port.

See p5.serialpor

[2015-10-03 12:21] lmccart opened #169 "Editor window too large for 12-inch screens"
The default editor window size extends below the screen of a 12" macbook air or 11" windows laptop. This makes it hard to get to the console pane when it's at the bottom. Perhaps the default size could be smaller?

repost from @tigoe https://github.com/processing/p5.js/issues/963

[2015-10-03 20:21] vanevery commented on #167
Re:  "Does the editor restart the server on each run? I was having issues with zombie console logging when sketches are closed."  This may be an issue with the p5.serialserver itself, particularly the "stop" method so I'll open an issue over there just in case.
https://github.com/vanevery/p5.serialport/issues/11

[2015-10-04 00:33] lmccart commented on #152
yeah after seeing some of the other things that get flagged, let's just remove them completely.

[2015-10-04 15:36] kadamwhite commented on #152
Could these be something that could be enabled, rather than opted-out entirely?

[2015-10-04 16:23] tigoe commented on #169
I found that by modifying lines 701 and 702 of the main.js in app.nw as follows, I got something that worked:

        width: 924,
        height: 668,

[2015-10-04 17:14] tigoe opened #170 "auto-format doesn't respect whitespace in lines"
When you auto-format, any whitespace in your line is eliminated, This is annoying if you write comments like this, and like them to be lined up nicely:

[code]

[2015-10-04 18:24] antiboredom commented on #170
Thanks - I'll look into this.

[2015-10-04 18:25] antiboredom commented on #169
I think we just need to check the size of the screen and then shrink the window as needed...

[2015-10-06 19:06] shiffman opened #171 "topics for p5.js editor meeting"
Some of these might duplicate existing issues and ultimately they should be broken out into separate individual issues, but I'm opening this issue just to track a list of things that are coming up in class for us to discuss when we meet to discuss the editor this week.

* erroneous "sketch modified outside the editor" error still happening or fixed?
* should the editor not allow same sketch opened

[2015-10-06 19:18] shiffman opened #172 "Editor crashing with 0.4.14 via CDN"
Not sure if it's 0.4.14 itself of the act of pulling from a CDN, but I opened an example with the following html and it crashes the editor (with empty `setup()` and `draw()`).   Mac OS X, 0.5.2.

[code]

[2015-10-06 20:16] shiffman commented on #172
Update: crashes with CDN or with local `libraries` folder.  Anyone else seeing this?  @lmccart I put 0.4.14 in all of the ICM DOM examples so might need to revert unless it's just an issue on my laptop (will check another computer soon.)

[2015-10-06 22:46] lmccart commented on #172
hey sorry about that, can you try with the latest version (0.4.15)?

[2015-10-07 13:44] shiffman commented on #172
I'm still getting the crash with some examples (but not all).  Here are three that are consistently crashing.

https://github.com/ITPNYU/ICM-2015/tree/master/07_dom/13_interface
https://github.com/ITPNYU/ICM-2015/tree/master/07_dom/16_two_p5_canvases
https://github.com/ITPNYU/ICM-2015/tree/master/07_dom/17_zombie_sliders

[2015-10-07 14:00] lmccart commented on #172
hm it consistently works with 0.4.13 but not 0.4.14 or 0.4.15, but it's hard to track down with so little information... @antiboredom is there any way to get more debug info / crash log?

also, I tried building and running the editor from terminal and when I launch the app this way, the sketch runs fine with no crashing with any version of p5.js.

[2015-10-07 15:32] shiffman commented on #172
(Aside I updated the ICM examples to run with 0.4.13 for now and alls well as you said.)

[2015-10-07 17:35] antiboredom commented on #172
Strange - it's not crashing for me in the development environment....

[2015-10-07 17:36] antiboredom commented on #172
@shiffman does it crash, by any chance in the latest beta version of the editor? http://saaaam.s3.amazonaws.com/p5-5.5-beta-mac.zip

[2015-10-07 17:36] lmccart commented on #172
yeah, that's what i was seeing too. makes it super hard to track down the errors. i suppose i can revert all changes to the lib between 0.4.13 and 0.4.14 one by one, but if there's anyway to get a crash report log that would be really helpful.

[2015-10-07 19:29] lmccart commented on #172
further investigation, linking to https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.15/p5.js in the HTML seems to work fine. but then when I download this file and stick it into the libraries folder and link to that, it crashes. it should also be noted this happens with an empty sketch with nothing in setup and draw.

[2015-10-07 19:42] shiffman commented on #172
I was able to get it to crash with the latest beta 5.5, yes.  It didn't on the first run, only after a few launches of the sketch (which was empty).

[2015-10-07 20:38] lmccart commented on #172
ok i think i tracked it down. if you comment out this line, it's ok: https://github.com/processing/p5.js/blob/master/src/core/core.js#L178

still thinking about why...

[2015-10-07 20:48] lmccart commented on #172
in the meantime, I think it'd be possible to do a hacky patch by adding a check to that if statement that disables the event adding if it's in the editor / node webkit. what's the best way to test this?

[2015-10-07 21:09] antiboredom commented on #172
@lmccart not sure! But will investigate.

[2015-10-08 00:10] antiboredom commented on #172
@lmccart try this for detecting nodewebkit:

https://gist.github.com/videlais/c426ff8d40d2ca35790f#file-detectnodewebkit-js

[2015-10-09 01:55] indefinit opened #173 "saveFrames does not work in node-webkit mode"
I noticed today that the saveFrames method doesn't actually save frames when run in node-webkit mode.  Callback functions do work, just not the image download.  Tested on Mac OSX.

[2015-10-09 02:40] antiboredom commented on #173
Hey - I have a fix in place for this - coming up in the next release!

[2015-10-09 02:40] #173 closed

[2015-10-09 02:47] indefinit commented on #173
Amazing! Thanks.

Sent from my mobile.

[2015-10-09 16:58] genekogan opened #174 "horizontal scroll doesn't go far enough when console on the right side"
can't scroll the cursor all the way to the right when the console is on the side.
when you flip the console to the bottom and then back to the side it's fixed.  guessing the function that calculates the horizontal width should just be called in the beginning of launching the editor.
see the long line in this screenshot.
<img width="875" alt="screen shot 2015-10-09 at 12 56 49 pm" src="https://clou

[2015-10-09 17:35] lmccart opened #175 "output window should keep position on relaunch"
but size is reset to size of canvas

[2015-10-09 17:51] lmccart opened #176 ""new file" or "delete file" in editor for .js and .css files auto-updates index.html"
* if you try to add or delete a file and index.html has been modified (has *), it will prompt to save before adding or deleting and updating index.html

[2015-10-09 17:59] lmccart commented on #152
temporary fix, color the background white.
ideally, eventually, we can have a user preferences file to customize settings further.

[2015-10-16 00:26] shota-aizawa opened #178 "The application "p5" can't be opened"
My mac has OS X Yosemite, version 10.10.5 and I downloaded a mac editor at the version of 0.5.2. Moved it to an application folder and opened it and got an error message saying "The application "p5" can't be opened". I tried older version of mac editors, but it did not work at all. How can I fix this problem?
Thank you.

[2015-10-16 04:36] vinjn commented on #162
+1

[2015-10-16 04:42] vinjn opened #179 "How to import a library like original Processing IDE?"

[2015-10-16 12:41] b-g opened #180 "Support of relative paths in script tag"
At the moment you can't use the `p5-release/empty-example` in the p5 app ... as the dependency to p5.js is defined relative:

[code]
It is kind of hard to explain in a workshop why the shipped "sketch template" is not working in the offical p5 editor :)

PS. Many thanks for all the great work! We are keen to port the entire [Generative Design Code Package](https://github.com/generative-design/Code

[2015-10-17 00:29] shiffman opened #181 "behavior of save and individual files"
The current behavior for save (once a project has been named) is to save only the current file (tab) that is in view.  I'm finding that now that I am teaching with the `html` file open as well as one or two `js` files, the "single file" saving behavior feels odd and when I hit "save" I expect the entire project to be saved (i.e. all files.)

Am curious if others agree.

[2015-10-17 00:30] shiffman opened #182 "save as"
When I click "save as" on an existing project, its my expectation that the name field would be populated with the current name or perhaps "current_name_copy" or something of that sort.   I am often confused not seeing the existing name in the save text field of the sketch especially because the "save as" window covers the menu bar where the project name is displayed.

[2015-10-17 15:33] lmccart commented on #180
great point, will update in the next release

[2015-10-18 09:18] b-g commented on #180
Mega! 👍

[2015-10-19 01:42] shiffman commented on #182
Another note re: save as.  When you save as a project the `<title>new project name</title>` is changed in the HTML file.  However, the editor often does not reflect if the HTML file was open in a tab already (unless I close and re-open that tab.)  Perhaps this more of a question around how the editor updates files that are changed by some means other than the user typing in the editor itself?

[2015-10-19 19:06] awt2542 commented on #122
+1 for CoffeeScript support! :)

[2015-10-20 20:17] shiffman opened #183 "Amplitude Modulation example does not run in editor"
But it works with "run in browser" just fine.  Limit of node webkit browser?  Related to #123?

http://p5js.org/examples/examples/Sound_Amplitude_Modulation.php

[2015-10-21 03:47] sunwangshu opened #184 "Alpha Error when working with HSB"
When you set colorMode(HSB) and set a color like stroke(360,100,100,0.1), the fourth parameter 0.1 works well as the alpha value.

The issue is that when you try to access a value called stroke(360,100,100,0), then the color appear to have no transparency at all, which means alpha = 1, and the color appear the same as (360, 100, 100, 1).

I think normally with alpha = 0 it means there be some 100%

[2015-10-25 07:25] lymanzhang commented on #162
expected change! it really not convenient for  to update p5.js manually.

[2015-10-28 09:42] GiorgioMartini commented on #77
I love Atom, easy to use, easy to add packaes, loots of cool features.. it would be a killer p5 companion.

[2015-10-29 06:17] Mutaquiha opened #185 "Difficulties installing p5js"
Hi guys. I'm newbie programmer.
I'm having difficulties to install p5js.
My computer shows this error: "This app cannot be executed in your PC."
I'm using windows 10.
Thank you.

[2015-10-29 15:39] indefinit opened #186 "support webgl functions in syntax highlighting"
Happy to PR this, but I'm not entirely sure how to add in webgl-mode functions in syntax highlighting.  Thanks!

[2015-10-30 09:39] HagelBagel commented on #162
+1

[2015-10-30 16:53] orgicus opened #187 "editor crashes when rotating on Y or Z axis"
Here's the basic code I ran to crash the editor:
[code]

rotateX seems more stable for some reason.
Also, the crashes are consistent when launching the editor the typical way,
but not always when launching the editor from command line
(I tried to figure out if there's any helpful console output I can provide,
but didn't find anything useful so far :/)

[2015-11-02 20:43] #172 closed

[2015-11-02 21:04] antiboredom commented on #186
That would be great - that stuff lives over in this repo: https://github.com/antiboredom/brace/blob/master/mode/javascript.js#L61

[2015-11-03 01:39] edwins04 opened #188 "La versión actual de p5.js para windows no es compatible para windows 10"
He intentado descargar p5 editor version 0.5.2 para windows, pero al ejecutarla en mi portátil me dice que esa versión no es compatible seria bueno que arreglaran ese inconveniente

[2015-11-04 07:03] kamend commented on #178
Same problem here.

I noticed that the "nwjs" file i MacOS is not set to executable. When I set the correct permissions, I get this error:

/Applications/p5.app/Contents/Frameworks/nwjs Helper.app/Contents/MacOS/nwjs Helper
2015-11-04 09:00:39.674 nwjs[82227:2612123] NSDocumentController Info.plist warning: The values of CFBundleTypeRole entries must be 'Editor', 'Viewer', 'None', or 'Shell'.
2015

[2015-11-04 07:14] therewasaguy commented on #178
Does it say it's "from an untrusted developer?" If so, my understanding is that this is just what Yosemite Apple does for all applications that don't go through Apple.

If you right-click and select "open" from the right-click menu, then you should be able to open it. After you do that, double clicking to open should work.

[2015-11-04 07:17] kamend commented on #178
It's saying "The Application p5 can't be opened". The problem is that the "nwjs" is not set to executable for some reason

http://prntscr.com/8yudjh

[2015-11-04 07:26] antiboredom commented on #178
Not sure what's going on here. What are your system specs?

[2015-11-04 07:27] kamend commented on #178
I am on OSX El Capitan 10.11.1

[2015-11-04 09:42] brylie opened #189 "Support for real-time, collaborative, direct manipulation design process"
# User story
[code]

[code]
## Principle
<a href="https://youtu.be/PA139CERNbc?list=PL37ZVnwpeshH37NxpV6XbgdDpY-w48hMd&t=780"><quote>
Humans should human
computers should computer
and computers only exist so we can better human
</quote></a>

# Challenge
Even though the programming environment minimises time-to-comprehension by quickly rendering results when the play button is pressed, there is sti

[2015-11-05 23:42] sparky64567 commented on #143
works for me too - except for the play button... play button makes it hang up....

[2015-11-06 17:29] shiffman opened #190 "loadJSON errors not making it to the IDE console"
Here's an example:

[code]

No error in the IDE, but I do see in the node webkit browser:

![screen shot 2015-11-06 at 12 28 57 pm](https://cloud.githubusercontent.com/assets/191758/11003692/faa01f9e-8481-11e5-933e-77d2339bf87a.png)

[2015-11-06 17:48] antiboredom commented on #190
Strange! Must be an issue with how I'm intercepting the error messages. Will investigate.

[2015-11-07 17:33] joesh1 commented on #32
Hi, I also have an issue where I download the p5.js from here and when I unzip and then (as above) try to open it nothing happens...nothing at all. Can you maybe advise me (I'm still on Mac OS 10.7.5). I should add I've tried earlier versions of the p5.js installer wondering if I needed an earlier version. So like locksmithdon I guess I'll just run everything from either my Processing editor or us

[2015-11-07 19:06] antiboredom commented on #32
Hey would you guys mind trying out some older versions, just to see if this issue is new? It's hard for me to fix cause I can't duplicate.

https://github.com/processing/p5.js-editor/releases

[2015-11-07 19:14] joesh1 commented on #32
I've tried out 0.5, I'll go back further and come back to you.

[2015-11-07 20:00] antiboredom commented on #32
Thanks! Really appreciate it!

[2015-11-07 23:18] leon-guiu opened #191 "Error running empty-example sketch.js"
p5* 0.5.6 IDE console blank when running empty-example sketch.js
![screen shot 2015-11-07 at 12 43 40](https://cloud.githubusercontent.com/assets/14298581/11017852/8ce0362c-85a5-11e5-97ef-2a13869bcfa8.png)
![screen shot 2015-11-07 at 14 47 00](https://cloud.githubusercontent.com/assets/14298581/11017853/9617d844-85a5-11e5-9f97-48984c041ba3.png)

[2015-11-08 01:33] antiboredom commented on #191
@lmccart these are being pulled from another repo - could you take a look?

[2015-11-08 01:38] lmccart commented on #191
yes it's because of the paths, related to this: https://github.com/processing/p5.js/issues/1012.
the empty example in the next release will match the default file structure for p5 editor.

[2015-11-08 10:58] joesh1 commented on #32
Hi Sam, but I've tried 0.3.0 but no luck. I guess I must be doing something wrong as nobody else seems to be leaving any comments here (or elsewhere). However, I think the lack of clear information and detailed (step-by-step) instructions on the p5 site isn't helping matters. I've tried downloading this complete package + the various editors. The only way I can get something to happen is by openin

[2015-11-09 10:04] Oscar-Rodrigues commented on #32
Hi Everyone, I'm also having this issue, on a Mac with OS X 10.10.5. Tried v0.5.6, 0.5.2 and 0.4. None of them work.

Thanks!

[2015-11-09 20:28] geoffalday opened #192 "Error when trying to draw a simple shape outside of setup or draw functions"
It looks like trying to draw a simple shape outside of the setup() or draw() functions causes an error (see attached). This works fine when placed in those functions. I realize it's not a best practice to structure sketches like this but wanted to let you know. I found this while working through the new P5.js course on Kadenze. Thanks!

![p5-error-ellipse](https://cloud.githubusercontent.com/asset

[2015-11-09 20:31] antiboredom commented on #192
Thanks for posting. This is actually just part of p5 - the functions only work within setup and draw (or functions that are called from within setup and draw)

[2015-11-09 20:31] #192 closed

[2015-11-09 20:34] geoffalday commented on #192
@antiboredom Thanks! Excited about this project.

[2015-11-10 01:05] DaRockJaeger opened #193 "saveCanvas is creating screenShot with black background"
Hello,

saveCanvas is creating a screenShot with a black background. When I render my sketch, the background is white.

Best regards

[2015-11-10 14:42] lmccart commented on #193
hey @DaRockJaeger are you actually drawing the background as white (background(255)) or are you just using the default clear background?

[2015-11-10 15:51] DaRockJaeger commented on #193
Hello,

i am using the default clear background.
When setting the bckground color manually to white again, everythign works.
Thank you :dancer:

[2015-11-10 15:51] #193 closed

[2015-11-11 22:39] antiboredom commented on #183
I see - this is actually because of another bug in how the console.log interception works.

[2015-11-12 04:13] #183 closed

[2015-11-16 18:17] bmoren opened #194 "Editor server not able to load mobile video"
When loading video to iPhone using the editor's built in server (connecting to the editors server IP via iOS), it will not load video files / allow you to use the video capability in p5.dom.

[2015-11-16 19:24] antiboredom commented on #194
Hey - can you post the code (and video) that's not working? Thanks!

[2015-11-16 19:29] bmoren commented on #194
[code]
this should work(not work) with any .mp4 file
It does work when hosted on a external server system through our college and not run through the editor.

[2015-11-16 21:37] blindfish3 commented on #57
Look at tools like Browsersync, Webpack etc.  I believe they use websockets and this allows selective updating of assets (e.g. HTML and CSS) *without* reloading the whole page (also see Brackets.io which will automatically update HTML edits on the fly without even saving the source file!).  Apparently Webpack live-updates JS module changes - which is super cool. Whether that's applicable in the co

[2015-11-28 20:46] knotech opened #195 "Plans for setting a preference option for personal default sketch?"
I'm using this to quick POC stuff for web, and I love it. It saves me time debugging my web boilerplate, and dealing with browser quirks, but most of my web stuff requires writing my sketch as in instance mode.

It seems straight forward enough to change the default sketch.js to some instance mode boilerplate. And I think I'm just going to do this today in my own fork. NDB.

But do you think it wo

[2015-11-28 21:29] knotech opened #196 "Integration with different browsers."
I'm digging through the source, and pretty new at this, and the whole open-source thing. So I'm not sure how to ask these questions about enhancements. If I'm doing this wrong please let me know.

How much of a stretch, effort do you think it would be create an option to open a sketch in a different browser, chrome, firefox, etc., from the editor, as I'm realizing a lot of straight JS stuff I'm tr

[2015-11-28 22:14] knotech commented on #196
I've realized I'm far enough into this that I have boilerplate for projects that run on the web, and that this is an introductory thing. Extending the editor to open sketches in other browsers is almost silly, increases the scope beyond it's intention, would interfere with the purpose of making it as accessible as possible, and introduce whole other sets of problems, i.e. accounting for different

[2015-11-28 22:17] lmccart commented on #196
hi @knotech it is already possible to open a sketch in your own web browser by clicking on the settings wheel and selecting "run in browser". does this accomplish what you are trying to do? or maybe i am misunderstanding.

[2015-11-28 22:19] knotech commented on #196
HA! Thank you! totally.

[2015-11-28 22:19] #196 closed

[2015-11-28 22:20] lmccart commented on #196
:)

[2015-11-28 22:48] knotech commented on #196
Thanks I think stack overflow ruined me for participating in this stuff. You totally just fixed that. :)

[2015-11-28 22:56] knotech commented on #179
Hi @vinjn. Have you tried opening the index.html in the project and adding a
`<script src='/path/to/the/library.js'>` ?

I would try either:
1. Copying the library.js into the folder of your project and setting the path from there.
2. Or if you want to pull it from a CDN, go to the preferences pane, and toggle the 'Run In Browser' option, and adding the `<script src='https://your.CDN.com/library.j

[2015-11-28 23:01] knotech commented on #195
OOOH, or a just a way to save code snippets into a folder, with a drop down menu of a list of your code snippets, and click->copy functionality?

[2015-11-30 06:15] vinjn commented on #179
Thanks. @knotech
Closing.

[2015-11-30 06:15] #179 closed

[2015-12-03 10:02] mauriciovieira commented on #189
:+1:

[2015-12-10 22:26] loumakis commented on #178
Same problem here. On OS X El Capitan 10.11.1

<img width="418" alt="screen shot 2015-12-11 at 00 23 59" src="https://cloud.githubusercontent.com/assets/11274593/11730415/ab9f617a-9f9d-11e5-881d-b5e9007febc6.png">

[2015-12-11 17:43] antiboredom commented on #189
This is super interesting - thanks for posting! I think this is a bit outside the scope of the p5 editor at the moment.

[2015-12-11 17:43] #189 closed

[2015-12-12 23:29] loumakis commented on #178
I tried to log in with a different mac User account and I downloaded it again. It works fine in this account.  I suppose it has something to do with my user's settings. It's strange.

[2015-12-15 12:47] brylie commented on #189
OK, thanks for your feedback. The main observation is that all of the projects have limited scope, but seem to be working on pieces of a bigger picture.

[2015-12-16 14:51] BarbaraAlmeida opened #198 "pmouseX always equal to mouseX"
When using p5.js v0.4.20  from December 11, 2015 pmouseX/Y is always equal to mouseX/Y.

I've tried the p5.js files on [this issue] (https://github.com/processing/p5.js/issues/1035):

In p5.js v0.4.17 from October 25, 2015 (the one that solved the issue) they are also behaving weirdly: pmouseX/Y is not equal to mouseX/Y when the mouse stops moving (seems to be the same problem reported [here] (htt

[2015-12-16 15:06] BarbaraAlmeida commented on #198
Sorry, I reported to the editor GitHub by mistake.
Now reported [here](https://github.com/processing/p5.js/issues/1176).

[2015-12-16 15:06] #198 closed

[2015-12-28 19:15] p5k12 commented on #182
With "Save Project As", if you just change the name of the project (and not its folder / destination because you aren't paying attention!), it will save a copy of the current project within itself ad infinitum (or many many times).  And then you can't delete the folders because the path names are too long.  A number of posted solutions to delete these folders don't work (eg, robocopy /MIR, cygwin

[2016-01-06 02:59] haniuman opened #199 "Yep! I have been designing a conceptual editor!"
Dynamic preview, tabs, colorful themes & many fun features

![p5js-editor-line05](https://cloud.githubusercontent.com/assets/13230502/12210294/e28ca4c8-b626-11e5-9df3-0e0071b3f5f0.png)

[2016-01-06 13:41] s-u-s-n opened #200 "Memory leak with simple code"
Hi there,

after about 8 of running the script, I'm running out of application memory. It'll randomly spike from 4 - 16gb and crash my system. Working OSX Yosemite 10.10.5.

Please let me know if it's not a bug in the editor but something in the code.

That's the code:

var y = 100;

var buttonW = 100;
var buttonH = 40;

var redX = 50;
var redY = 500;

var blueX = 200;
var blueY = 500;

var greenX

[2016-01-06 16:26] lmccart commented on #200
hi @s-u-s-n there's a lot going on in this code and it's hard to tell exactly which function could be the problem. could you try stripping down the example code a bit? that is, try removing different pieces from the code you posted until you've isolated the part that causes the memory issue a bit more?

[2016-01-15 17:04] parsoyaarihant opened #201 "loadString error"
I tried running the following code from p5.js website in the editor and it doesn't produce any output :

var result;
function preload() {
  result = loadStrings('assets/test.txt');
}

function setup() {
  background(200);
  var ind = floor(random(result.length));
  text(result[ind], 10, 10, 80, 80);
}

the loadImage method( as given in example) seems to work fine but loadStrings isn't even though

[2016-01-15 17:10] lmccart commented on #201
hi @parsoyaarihant, loadShape() isn't implemented yet. or is it loadStrings() that is not working?
to simplify, i would suggest trying to put your test.txt file right in the same folder as your sketch.js file and index.html, and then change the path to loadStrings("test.txt")

[2016-01-15 17:40] parsoyaarihant commented on #201
sorry my typo error it was loadStrings. I tried the running the code keeping all the files in the same folder but it doesn't seems to work. I even tried running the code in p5 editor and it doesn't seem to run, where as the example in 3D mode for loadImage seems to work in the editor.

[2016-01-16 01:53] lmccart commented on #201
I'm sorry, I'm not able to reproduce this. Could you include which version of the library you're using, and the contents of your html and txt file? Are there any errors in the console.
 This may be a question better suited for the [forum](https://forum.processing.org/two/categories/p5-js), which is the place for general debugging help.

[2016-01-16 04:17] #201 closed

[2016-01-22 14:42] kamidipreetham opened #203 "Mouse pointer shows Text select icon on Menu"
After opening any menu item which overlaps the text editing portion of the Editor, the pointer changes to Text select icon rather than remaining a normal pointer.
![screenshot 39](https://cloud.githubusercontent.com/assets/9149028/12513568/7c7e000e-c144-11e5-8f75-aee0f02964c1.png)

[2016-01-25 18:23] lmccart opened #204 "SVG image positioning and scaling"
repost from @geoffalday on p5.js repo
https://github.com/processing/p5.js/issues/1179#issuecomment-174550741

I tested this on chrome, safari, and firefox and all look fine, it's just in the p5 editor when not run in browser that there seems to be an issue.

----

When loading an SVG image, the positioning and scaling doesn't render as expected. Note the two images used in this example were saved

[2016-01-25 20:33] Abzlarson commented on #204
![11887925_10153247986869215_9189830329567046675_n](https://cloud.githubusercontent.com/assets/12075413/12563594/a7ec2116-c370-11e5-8be2-6a33d5e39ea5.jpg)

[2016-01-26 18:32] p5k12 opened #205 "Stability on Windows"
I'm running the latest version downloaded from p5js.org (0.5.7) on Windows 8 laptops and my students and I are finding that the program either locks or stops producing output in the canvas (a window opens but it doesn't even have a canvas in it). In the latest case for me, I restarted the IDE and the code then worked fine. It's so intermittent I don't know how to describe the problem usefully and

[2016-01-30 02:01] m-fkill commented on #187
I just tested this in P5 Editor 0.5.7 on Mac OSX 10.11.1
Triec rotateX,rotateY and rotateZ all work fine.

[2016-02-02 13:03] GiorgioMartini commented on #199
yup looks great...

[2016-02-04 15:10] SetupandDraw opened #207 "alert message & P5js editor restart"
Hi there,

I am getting a popup alert message & #P5JS editor restarting over and over again.
here you can view the message: pic.twitter.com/BVr5E86BNw

I am running on a mac pro g5, running OSX 10.8.5

Hope someone finds out. It makes quite difficult to work with it.

[2016-02-05 14:24] SetupandDraw commented on #207
Looks like the problem might be related to editing .css / .htm files.
As I noticed it often (always?) occurs when working with P5JS/ DOM Library manipulating HTML/CSS elements.

[2016-02-09 10:12] rich-gg opened #208 "Ctrl T reformat but don't open everything"
Spending a lot of time in P5 these days and it fell to me very painful have all my closed sections open each time I do "Ctrl T".
What about having Ctrl-shift T to open everything and have Ctrl T reformatting only open code ?

[2016-02-09 23:29] inkwellsiesta opened #210 "save() function doesn't save files properly"
save(["Hello this is a test"], "stringTest.txt")
When the "Run In Browser" option is selected, a file like stringTest.txt is saved in the browser's default Downloads folder.

When the "Run In Browser" option is not selected, a file like stringTest.bad.txt is written to the same folder as sketch.js
[stringTest.txt](https://github.com/processing/p5.js-editor/files/123929/stringTest.txt)
[stringTest.

[2016-02-14 18:16] spiricom commented on #182
Also - it appears that the editor doesn't properly save the file when I choose "save as" and add a number to the end of the file. For instance, if I am working on something called "drum_machine" and I want to save a version as "drum_machine1", it fails to save.
Another strange bug is that it often thinks I am trying to save inside a p5 project and complains even when I have navigated to a higher l

[2016-02-14 18:17] spiricom commented on #162
+1 This caused much confusion while using p5.js to teach.

[2016-02-14 18:20] spiricom commented on #109
+1

[2016-02-17 10:51] Casberu commented on #178
Same here~ can't be open OS X Capitan

[2016-02-17 12:19] kamend commented on #178
Make sure you are using the OSX default archive tool to extract the files, sometimes anything else will break the permissions.

[2016-02-17 17:38] loumakis commented on #178
Unfortunately using the OSX default archive tool doesn't work either.

[2016-02-19 06:01] genekogan opened #211 "translate(x, y) doesn't reset in windows"
i taught a p5.js workshop a few days ago and a group of students using the windows version of the editor reported a bug in which (i think) translate(x,y) didn't reset automatically at the beginning of the next frame. i didn't get a chance to verify this so not sure it wasn't a bug their side, but if someone is using the editor on windows, might be good to check on this.

[2016-02-19 12:12] lmccart commented on #211
this should be fixed with an update to the library:
https://github.com/processing/p5.js-editor/pull/209

@antiboredom do you have time soon to merge this in? or is it ok for me to go ahead and do it?

[2016-02-24 21:44] ghoshbinayak opened #212 "the editor won't start"
trying to run p5.js-editor on linux (`npm run app`)  I get the following error:

**Using: npm@3.5.3, node@v5.5.0**

[code]

[2016-02-24 23:09] bensk opened #213 "Tweak mode"
NO idea how hard this would be to implement, but I’d love to see the same Tweak Mode that’s available in the Processing 3 editor.

Thanks!

[2016-03-05 00:10] lmccart commented on #211
sorry this took so long! this is fixed in 0.5.8.

[2016-03-05 00:10] #211 closed

[2016-03-05 00:12] lmccart commented on #184
this is fixed in the latest.

[2016-03-05 00:12] #184 closed

[2016-03-05 00:13] #1 closed

[2016-03-07 02:01] jasontaylor579 opened #215 "P5 language reference index has malformed HTML"
http://p5js.org/reference/

...needs a quick fix. Some tag issue has left a few things unusable/unreadable.

Normally wouldn't put this in as an editor issue, but since it's the page that Help > Reference leads to...

[2016-03-07 02:15] lmccart commented on #215
thanks! should be fixed now thanks to @toolness

[2016-03-07 12:11] hanswillem opened #216 "newly designed editor(0.5.9) doesn't scroll far enough"
Hi,

For me the new editor (0.5.9) doesn't allow me to scroll to the end of the code. The last two or three lines of code are hidden behind the console panel. Is it me? I am on OSX 10.10.3

Grtz,
HW

[2016-03-07 19:12] lmccart commented on #216
yes, it's our new initiative to encourage people to write more concise code.
but really, ack sorry, will post a fixed version soon.

[2016-03-07 21:19] hanswillem commented on #216
:)

Great! Like the new design btw!

Grtz,

[2016-03-08 10:43] b2renger commented on #212
Same here using npm 3.3.12 and nvm 5.2.0

However running 'gulp' task didn't complete, it just hung without any error messages.

@ghoshbinayak did gulp complete ?

[2016-03-08 10:48] ghoshbinayak commented on #212
@b2renger there is a `watch` task which keeps on running. The rest completes successfully.

[2016-03-08 20:09] JobLeonard opened #217 "Linux Support"
So, what is needed for proper Linux support?

I have little node and gulp experience, but am willing to try and help out; running Ubuntu 15.10 on my laptop here.

Testing shouldn't be too hard for me, but anything more than that will need a bit of guidance.

Cheers,
Job

[2016-03-08 20:28] b2renger commented on #217
+1

I'm in the same state of mind :)

[2016-03-10 13:50] autumna commented on #217
+2
using 14.04.

[2016-03-10 15:40] kursor commented on #216
Having same issue. Some kind of padding issue.

[2016-03-10 15:46] kursor commented on #200
Having similar issues with completely different code. Seems to be worse when resizing window. noLoop seemed to slow down the memory leak though. Was thinking it might be a default browser issue? unsure. But it is incredibly painful.

[2016-03-10 17:25] kursor commented on #200
@s-u-s-n Are you running it on an Intel Iris graphics card?

[2016-03-14 18:20] #216 closed

[2016-03-14 18:20] #215 closed

[2016-03-17 19:17] config2000 opened #220 "Toggle setting to show or hide the area above the main textview"
Hello,
Please consider adding a setting to preferences to allow the top area (showing the p5* PLAY SETTINGS) to be hidden.
For me, it currently takes up a large amount of space, and  I prefer to have as much of the code visible as possible.
Personally, I use Ctrl+R to run code so I don't really need the top area visible at all.
Thanks, JIm

[2016-03-18 20:09] ronca85 opened #221 "Refreshing the browser window leaves editor unable to run the sketch again"
Hello.

The browser window has two refresh icons. The one on the mid-left works fine but there is a problem with the one in the top right corner. When i click on that one the sketch restarts and all seems fine but when i close the browser window the editor thinks the sketch is still running and the sketch can't be run again. This can only be fixed by restarting the editor. Using the Play/Pause but

[2016-03-25 03:39] kusha-b-k opened #222 "autocomplete codeing"
please integrate the autocomplete coding for the editor

[2016-03-25 03:40] kusha-b-k commented on #222
autocomplete is missing

[2016-03-25 03:42] kusha-b-k opened #223 "api library offline"
include the api library to the editor for quick reference.

[2016-03-25 03:43] lmccart commented on #222
thanks! this is covered here: https://github.com/processing/p5.js-editor/issues/94. so i will close this one for organizational purposes.

[2016-03-25 03:43] #222 closed

[2016-03-25 03:46] kusha-b-k commented on #222
ohh ok sorry  i have not checked that issue number..

[2016-03-25 03:47] lmccart commented on #217
Hey all, thanks for your interest in helping here. I think the first steps we want to follow are like this:

1. Get the app to compile and run.
2. Test out the functionality, and document what doensn't work.
3. Fix any bugs / non-working functionality.
4. Modify the [gulpfile](https://github.com/processing/p5.js-editor/blob/master/gulpfile.js) to build a linux version, or determine if some other p

[2016-03-25 03:47] lmccart commented on #223
Can you explain a little more about this one? I'm not sure I understand quite what you mean. Thanks.

[2016-03-25 03:48] lmccart commented on #16
For organizational purposes, I'm closing this and adding the note about keyboard shortcut to other "save as" issue #182.

[2016-03-25 03:48] #16 closed

[2016-03-25 03:49] lmccart commented on #182
Adding one other note from @shiffman  on the topic of save as from issue #16:

Current behavior: ⇧⌘S is "saves file as" whereas I am used to ⇧⌘S to mean "saves project as".

[2016-03-25 03:49] lmccart commented on #203
hi, can you tell me more about the platform / device you are using?  are you on mac or windows?

[2016-03-25 03:52] lmccart commented on #199
hey @haniuman this looks very cool, thanks for sharing! i'm trying to clean up the issues a bit here, so i'm going to close this one since it seems to be more of an update than something requiring a fix. if you are looking for more feedback, you might try posting it on the [forum](https://forum.processing.org/two/)

[2016-03-25 03:52] #199 closed

[2016-03-25 03:57] lmccart commented on #188
gracias. este es un duplicado de #185, voy a cerrarlo para organizar.
lo siento, no hablo bien español... :\

[2016-03-25 03:57] #188 closed

[2016-03-25 08:18] kamidipreetham commented on #203
I'm on Windows

[2016-03-25 14:08] JobLeonard commented on #217
Ok, I gave it a shot! I followed the instructions of the readme, it basically timed out once I tried running gulp:

[code]

It has been stuck at this point for over an hour now. Killing it and trying again has the same results. Frustratingly, because it doesn't *visibly* crash I don't know what the problem is.

If I try to run `npm run app` (which of course won't work, but might give some info), I

[2016-03-25 15:28] kusha-b-k commented on #223
In the editor, under menu bar help option an reference option is there if u click on that it will goto the p5.js website. instead of that, try to provide api reference option and it should show the all p5.js api details  in the offline mode..

thanks...

[2016-03-25 15:49] kusha-b-k opened #224 "pinch to zoom"
Include the pinch to zoom option in the code editor to increase the font size..

regards..

[2016-03-25 15:50] lmccart commented on #224
hi @kusha-b-k, you can adjust the font size via the settings panel (click the gear wheel in the corner), or using the key command command-+. we unfortunately won't be able to support more options than that at this time.

[2016-03-25 15:50] #224 closed

[2016-03-25 15:54] kusha-b-k commented on #224
yes i know that option,but if we provide this option it will become user friendly...

thanks

[2016-03-25 15:57] lmccart commented on #224
i understand. however, we have a long list of things things that still need fixing. until we get most of those finished, we need to hold off on adding new functionality.

[2016-03-25 15:58] kusha-b-k commented on #224
ok cool

[2016-03-27 15:50] lmccart commented on #217
Argh sorry this is so frustrating to debug. I did open up main.js and found at line 1043:
[code]
So this definitely seems wrong... Maybe one place to start would be to look through the codebase at this `isWin` var and maybe more properly name the var `isMac`, and then see where it plays out and make changes as necessary.

[2016-03-27 15:53] lmccart commented on #217
FYI here's where that particular line in main.js gets generated from:
https://github.com/processing/p5.js-editor/blob/master/app/menu.js#L7

As I search around for the definition of `isWin` it seems like this comes from one of the node_modules, but it seems likely there are also `isMac` and `isLinux` vars already defined that could be used:
[code]

[2016-03-28 11:17] kusha-b-k opened #225 "import library update"
p5.js editor  Version 0.5.10 (0.5.10)
Under menu bar option, file -> import library -> p5.serialport.js   only one library is displaying and its not displaying other libraries which are updated in the p5.js website ,.. like p5.collide2D,p5.geolocation,p5.speech and so on

[2016-03-29 08:41] swhit194 opened #227 "Color RGB - wrong values"
I'm having an issue with RGB colours from an imported JPG file.
On importing an RGB Red (255,0,0) jpg from Photoshop and using get() for the (1,1) pixel coordinate, and returning this to the bottom of the editor via println I get the value of 0, 1, 255.
RGB Blue from Photoshop (0,0,255) returns 0, 250, 255.

[2016-03-29 08:45] swhit194 opened #228 "can't find the delete post button."
can't delete this post

[2016-03-29 12:36] swhit194 commented on #227
I've figured this is some funky numbers resulting from not having rgb in the color syntax - found how to resolve this by using (rgb(255,0,0)); syntax rather than (255,0,0) without the rgb in front.  Also found that the values returned can be quite odd if this doesn't happen - closing issue as I feel I've resolved it (after several hours of research and testing).

[2016-03-29 12:36] #227 closed

[2016-03-31 07:09] #228 closed

[2016-03-31 11:00] lmccart commented on #228
just closing it is enough, thanks!

[2016-04-02 19:10] lmccart opened #229 "popup window not resizing to fit canvas if vars used in createCanvas() call"
From @AnneCHPostma (https://github.com/processing/p5.js/issues/1346):

When I have the following code:

[code]

The canvas is not accepting the arguments and doesn't resize properly. This issue is only happening in p5 itself. When I do this in CodePen it is working fine. So the arguments seem to get accepted, but when the arguments are not actual numbers, the window somehow doesn't get resized pro

[2016-04-02 19:12] lmccart opened #230 "window size not correct with createCanvas and WEBGL argument"
From @annechpostma (https://github.com/processing/p5.js/issues/1345)

When I create a 2D canvas using createCanvas([width], [height]), the window that gets created is properly resizing to the width and size of the canvas.

When I create a WebGL canvas using createCanvas([width], [height], WEBGL), the window size is not resizing to the width and height of the WebGL canvas.

To be consistent (and no

[2016-04-03 08:16] kusha-b-k opened #231 "p5.js editor stop button not working"
to kill a sketch in the default browser if we press stop button in the p5 editor its not killing the http://localhost:3000

[2016-04-03 14:31] kusha-b-k opened #232 "Right Click option missing !!"
under coding area, if we want to copy a line( or lines)  of  code  we have to use shortcut  commands like command c or command v,  please add the mouse  right click option to copy paste the code.

editor Version 0.5.10 (0.5.10)

[2016-04-09 16:14] burakk opened #233 "console"
I there a possiblity to put the console at the bottom?
I think it will be better...

[2016-04-09 16:15] #233 closed

[2016-04-18 00:49] wrightty commented on #231
This happens to myself and my students as well.  If we run our sketch, and then minimize the localhost window (sketch window) and go to a different window (search the web for something) and come back to the editor to make changes or stop the sketch it stops but doesn't restart properly upon pressing the play button.

[2016-04-26 04:01] justintspencer commented on #105
I got this same error when I tried to run the fill function w/o an argument

`fill();
9846: Uncaught Error: [object Arguments]is not a valid color representation.

Once I passed an argument to the fill function the error disappeared.

[2016-04-26 13:27] lmccart commented on #105
yes, there's no default value, you have to put something inside to specify a fill color. see this page for possibilities.
http://p5js.org/reference/#p5/fill

[2016-04-29 18:24] damerms opened #234 "Doesn't Open"
"The application p5.app can't open"
El Capitan 10.11.4
Mid 2010

[2016-05-07 18:53] savvasio commented on #234
Same here with El Capitan & v0.5.10 . Try to move the app on another folder (like the Desktop). Worked for me.

[2016-05-08 08:24] savvasio commented on #234
Today it works somehow.

[2016-05-09 23:34] damerms commented on #234
doesn't work still
ᐧ

Thanks
David

Shaping Connected Experiences

<http://www.linkedin.com/in/merms>  Linkedin
<http://www.linkedin.com/in/merms>      773.744.0760

On Sun, May 8, 2016 at 3:24 AM, Savvas <notifications@github.com> wrote:

[2016-05-10 09:30] frenchfaso commented on #234
Same problem here.
OSX 10.11.4

[2016-05-16 16:59] animanoir opened #235 "The editor makes heavy use of CPU"
When I have an open instance of the p5.js official editor, it suddenly seems to make the CPU work harder, including the fan (which is the most noticeable part).

When I close it, almost immediately the fan goes to normal.

[2016-05-19 04:15] chiunhau commented on #235
I have the same issue.
Probably caused by something related to nwjs ?

[2016-05-21 01:28] davejm commented on #217
@lmccart Hi, I've been working on the linux support and have got it running on linux with `npm run app`. My dev branch is here: https://github.com/davejm/p5.js-editor/tree/linux-support . I haven't got a new ffmpegsumo library built for linux64 bit in there and the release seems a bit weird but everything else seems to work. Shall I create a pull request?

[2016-05-21 11:08] jvolker opened #236 "saveJSON() not working outside setup()"
I've modified the example of `saveJSON()` on the p5.js website to save outside `setup()`.
Running the code in the editor outputs a weird string instead of valid JSON.

    var json;

    function setup() {

      json = {}; // new JSON Object

      json.id = 0;
      json.species = 'Panthera leo';
      json.name = 'Lion';

    }

    function draw() {

    }

    function mousePressed() {

[2016-05-21 15:17] davejm commented on #217
The build oddities were caused by me not having wine to update the windows build's icons. All works now. I can't see any problems. @JobLeonard can you test on your system to make sure?

[2016-05-21 15:19] lmccart commented on #217
this is fantastic, nice work! yes, go ahead and submit a PR and I'll review and merge it in. if anyone else on linux has a moment to test as well, that'd be very helpful!

[2016-05-21 15:59] davejm commented on #217
Hey @lmccart no problem. Submitted pull request #237. Sound doesn't work atm as I don't have the relevant custom built ffmpeg library but this can be copied frmo a linux version of Chrome, from a custom build of nw.js or from another project apparently according to this: https://github.com/nwjs/nw.js/wiki/Using-MP3-&-MP4-(H.264)-using-the--video--&--audio--tags. Anyway there's a note about that in

[2016-05-23 10:34] lowenf commented on #235
same here, when I check activity monitor I see it's at 100%.

So: Mac (latest version), not sure what it causes or how to find the cause

[2016-05-23 12:15] JobLeonard commented on #217
Hey @davejm, thanks for working on this!

I'm getting this error when I try to run `npm install` in `public`, although I suspect that has more to do with my system:
[code]

[2016-05-23 15:40] davejm commented on #217
Thanks for testing @JobLeonard. Not sure what the problem is. I think that might be a native addon. Do you have the correct build tools for your distribution? If on debian/ubuntu do `sudo apt-get install -y build-essential` and try again. Also might be worth deleting the node_modules folder in public before you try again.

[2016-05-23 16:15] dariox2 commented on #143
Run fine here, including play button.  Windows XP 32 SP3.

[2016-05-23 16:15] dariox2 commented on #143
Run fine here, including play button.  Windows XP 32 SP3. Thanks!

[2016-05-23 16:15] dariox2 commented on #143
Run fine here, including play button.  Windows XP 32 SP3. Thanks!

[2016-05-24 08:03] Althalus7 opened #238 "Increase in CPU and memory usage before crash"
double clicking on the P5*JS launcher before a sudden peak in my disk before levelling back out after the launcher crashes. The launcher never appears but still appears in task manager until the diskreturn to normal. Edit: I am using a windows 8 ProBook with 8GB of RAM and 64bit core i3 processor. Editor version 0.5.10

[2016-05-25 04:38] kusha-b-k opened #240 "P5 editor top portion Height"
The editor top portion height is too much please reduce it ,, and its not adjustable also... below image explains more..

![height](https://cloud.githubusercontent.com/assets/14980964/15528290/1080f0aa-2260-11e6-8afb-e0d24eea6228.png)

[2016-05-30 21:48] #143 closed

[2016-05-31 07:02] Althalus7 commented on #238
fixed by windows 32 bit version even though I'm using a 64 bit processor. download for 32 bit on this page https://github.com/processing/p5.js-editor/issues/143#event-676360708

[2016-05-31 07:02] #238 closed

[2016-06-01 00:35] JessePimenta commented on #178
any progress this issue? on OSX Yosemite v 10.10.3, no luck opening the editor.

[2016-06-04 13:59] JobLeonard commented on #217
Ok, so after a bit of googling, I learned that what you _should never do_ on Debian- or Ubuntu-based distros, is install node from the default packages. Instead you should [follow the instructions on the node website](https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions).

After fixing that, and giving this another go, I now get the following output on `npm i

[2016-06-04 20:25] davejm commented on #217
@JobLeonard hmm weird ok. Did you try installing the 'build-essential'? Looks like the error might be to do with permissions... could you try running `sudo npm install`?

[2016-06-05 10:36] JobLeonard commented on #217
Sorry, forgot to mention that `build-essential` had already been installed (just double checked).

Using `sudo` causes a regression (?) to the former error message.

What's really strange is that node-serialport claims that [using  Chris Lea's PPA should have fixed this](https://github.com/EmergingTechnologyAdvisors/node-serialport#ubuntu-linux). So I'm puzzled as to where the problem might lie.

[2016-06-06 16:58] davejm commented on #217
@JobLeonard after looking at this for quite some time I think I've pinpointed the problem. All was well when I was running nodejs v0.12 from the official ubuntu repo then I upgraded to Node4 and then Node6 and things started to break.
The newest versions of serialport work with new nodejs but the old one in the public/package.json of this project doesn't.
So, try replacing your public/package.json

[2016-06-06 20:32] JobLeonard commented on #217
Well, that seems to work for that bug!
[code]

 Except now it hangs on `gulp`:
[code]

To be clear, it just hangs - it doesn't finish. If I `ctrl+c` out of that, and continue (since it might give some useful feedback about what's missing) I get:

[code]

[2016-06-06 21:06] davejm commented on #217
@JobLeonard very strange. Ok what about deleting the node_modules folder in the project root and the public folder and doing npm install for both again then trying again. I think after gulp finishes it's supposed to stay running as it 'watches' for changes in order to rebuild. It's hard to know what's going wrong as the main.js file is all the JS combined.

[2016-06-06 21:39] JobLeonard commented on #217
Problem solved...

![screenshot from 2016-06-06 23-38-33](https://cloud.githubusercontent.com/assets/259840/15838704/dba969d6-2c3f-11e6-9a4c-6baf5ef5f61b.png)

[2016-06-06 21:40] davejm commented on #217
@JobLeonard yay haha. p5 is perfect for quick memes!

[2016-06-06 21:42] JobLeonard commented on #217
Seemed like an appropriate way to celebrate victory.. over my own idiocy, but victory nonetheless! (at least the serial port issue was real)

You're a champ for making this work, @davejm!

[2016-06-07 13:59] KevinWorkman opened #241 "Size Changes Between Runs"
Originally found in this Stack Overflow question: http://stackoverflow.com/questions/37671632/my-p5-js-canvas-window-continues-to-change-with-each-code-execution-how-can-i-s

I see the same issue on Windows 7.

If I have some simple code:

[code]

The code works okay the first time I run it. I close the window, don't make any changes to the code, and run it again. Now the width will be slightly sm

[2016-06-07 14:03] KevinWorkman commented on #18
Having the editor change the default behavior of the language seems like a horrible idea. I could see moving this request to the language itself, but it doesn't belong in the editor.

[2016-06-07 14:46] KevinWorkman commented on #241
I found this related issue: https://github.com/processing/p5.js-editor/issues/129

That issue appears to be fixed, but I'm still seeing the problem in the latest version (0.5.10).

[2016-06-13 11:54] ericmaciared opened #242 "Editor runs different scripts."

[2016-06-13 17:35] bmoren commented on #223
I'd like to second this, especially because it's the way the processing editor has handled it. I may have some time to work on it slowly this month and more dedicated early next month. Lauren, I might need to pick your brain about the way the documentation is compiled on the current website with the yuidocs (can you point me in any direction to start investigating this). I do a ton of coding offli

[2016-06-13 20:19] lmccart commented on #223
hi @bmoren, @limzykenneth has actual been working on an offline reference build to be packaged with the p5.js download, and we could also package it with the editor. (see https://github.com/processing/p5.js/issues/1378) if you have any other thoughts or want to help on this effort feel free to jump in there! let me know if you have questions, happy to chime in with help as well.

regarding the doc

[2016-06-14 11:41] limzykenneth commented on #223
@bmoren Thanks for the interest! As @lmccart mentioned, I have a proof of concept at the moment and if you like to help out that would be great. You can start with going through the issue thread @lmccart posted since there's some decisions about the structures of the offline docs being made there.

A general shout out to everyone else as well, I'm currently building my degree show so I'm probably

[2016-06-15 01:26] lmccart commented on #234
also see https://github.com/processing/p5.js/issues/1467

[2016-06-15 16:06] damerms commented on #234
Any progress on getting this working?

[2016-06-15 21:09] #230 closed

[2016-06-17 14:34] davejm commented on #77
Hi,

I set myself the task of making an app in Electron over the Summer and this seemed like a good project to work on with a head start in the logic so I've been working on a port to Electron.

I thought it would be pretty painless but turned out to be quite complicated given the completely different architecture of Electron and the process model.

Anyway I've taken a stab and I think the core fu

[2016-06-18 08:15] loumakis commented on #234
It seems that a lot of people is having the same problem.Me too on El Capitan 10.11.5
[https://github.com/processing/p5.js-editor/issues/178](url)

[2016-06-19 14:39] greggman commented on #77
So I thought about looking into this as well. For example there's already an atom HTML panel which works to some degree

[![p5+atom](http://img.youtube.com/vi/In45hrxe22k/0.jpg)](http://www.youtube.com/watch?v=In45hrxe22k)

It would be relatively easy to fork one of autocompletors and make one specific to p5. (I think that [already exists](https://atom.io/packages/p5xjs-autocomplete) actually)

Se

[2016-06-19 14:47] davejm commented on #77
@greggman I see, so you're not talking about Electron but Atom's pugins? I think an atom/sublime plugin would be pretty cool - could include a build system script, auto-complete etc. Although I think having a separate IDE has its benefits for simplicity.

[2016-06-19 16:21] greggman commented on #77
Either way. It seems like it would be easier to take a full fledged editor and then hack it to be your IDE than to start with nothing and try to build an editor.

So I'm not suggesting taking Atom as is, rather it might be a good place to start to create a p5 IDE. In fact it might be as simple as just taking Atom, adding a few existing plugins and then adding one more custom plugins to remove/hide

[2016-06-20 02:07] lmccart commented on #234
does the message say "“p5.app” can’t be opened because it is from an unidentified developer."?
if so, try right clicking and then selecting open.

[2016-06-20 05:48] loumakis commented on #234
No unfortunately this is not the case. This is the actual message.
<img width="418" alt="ab9f617a-9f9d-11e5-881d-b5e9007febc6" src="https://cloud.githubusercontent.com/assets/11274593/16184269/ae6405c4-36c3-11e6-8bb2-3db6370e9faf.png">

[2016-06-20 10:50] JobLeonard commented on #217
So what's keeping the changes from being merged, if everything seems to work?

[2016-06-21 01:17] lmccart commented on #217
sorry for the delay on this, I will take a look later today and get it merged in!

[2016-06-21 07:14] #240 closed

[2016-06-21 07:14] lmccart commented on #240
I think we'd like to keep this for now.

[2016-06-21 07:39] lmccart commented on #217
This is awesome, thanks all! I merged it in and just posted a new release.
http://p5js.org/download/ 🎉 🎉

[2016-06-21 11:24] b2renger commented on #217
it works nicely ! though :
[code]
is needed to make the file executable.

[2016-06-21 20:37] Maelstrm opened #247 "Editor doesnt open"
I downloaded and installed the new update and now the editor wont load when i run the exe file.

[2016-06-21 20:39] Maelstrm commented on #247
Issue fixed.

[2016-06-21 20:40] #247 closed

[2016-06-21 21:54] JobLeonard commented on #217
Also:

http://p5js.org/download/

I think you can remove the bolded line ;)

[2016-06-22 06:24] kusha-b-k opened #248 "version Update"
Whenever the new Update comes to the editor.. , we are getting the alert for  the new version update... but  if we want to install latest update we have to do fresh installation, this is really vexatious... instead of this try to make the  update for the existing app (installed one )..in simple words override the existing app for the latest update...

[2016-06-26 20:51] ericgarcia-net opened #249 "Linux Editor doesn't open (on Linux Mint <-- Ubuntu <-- Debian) !"
with permissions enabled of course !

[2016-06-27 17:25] davejm commented on #249
@ericgarcia-net hey what version of Linux Mint are you on? I'm also on Mint and it runs fine.
When you run from terminal do you get any errors?

[2016-06-30 00:17] mccallofthewild commented on #231
Same. It just freezes then I have to force quit typically.

[2016-07-03 05:39] jeckubus opened #250 "Installing the p5.js-editor on linux"
How to install the p5 editor on linux? I have an archive(zip) of p5.js.

[2016-07-03 09:29] davejm commented on #250
Go to https://github.com/processing/p5.js-editor/releases download the Linux version, unzip, `chmod +x` the executable then you can run

[2016-07-05 23:20] #242 closed

[2016-07-05 23:20] #217 closed

[2016-07-08 08:06] RAWRR opened #251 "editor, Linux: make i3/4/5/686 version, or at least label the download as x64"
Please compile for i386? I was unpleasantly surprised after the download that it wasn't the correct binary for my system :(

[2016-07-09 10:46] gachis commented on #178
same here with Yosemite 10.10.5...

[2016-07-10 16:47] JobLeonard opened #252 "Include a png/svg for Linux (and Mac?) users to use as an icon"
At the moment the Linux version (and presumably the Mac version too?) doesn't include an icon. I don't know which image is used for the Windows icon, but if we could include it as an SVG and PNG so users can manually set it, that would be great. If it's possible to export the Node.JS app to include it, even better!

At the moment I use the one for hello.p5js[0] myself, adding a white background to

[2016-07-11 15:46] clayheaton commented on #235
It looks like this nwjs Helper issue, which should be fixed in a more recent version of Node-webkit. @lmccart Is this on your radar? https://github.com/nwjs/nw.js/issues/2372

[2016-07-12 16:18] clayheaton commented on #235
One thing I've noticed... the fan only spins up if there's more than one project open. It seems more likely to happen on a dual monitor setup, too. I don't think I've ever had it happen with a single project open while on just my laptop monitor.

[2016-07-14 19:58] luisaph opened #253 "serialport on p5 editor 0.5.8 and later"
Hello! I just downloaded the 0.6 version for the editor, and the serial library doesn't seem to be working on it. The code below works on v0.5.7, but not on 0.6 (or 0.5.10, 0.5.8, or 0.5.9). Perhaps I am missing something? Thought I'd ask before digging deeper into it : )

[code]

Thank you!
cc: @vanevery

[2016-07-14 21:30] vanevery commented on #253
Hi!  A work around would be to install p5.serialserver via npm (after installing node) and running it on the command line:

Install it:  sudo npm install -g p5.serialserver
Run it:  p5serial

Then your sketch should work (you might want to make sure you are using the latest version of the library).

Please do let me know how it goes, I don't have a serial device in front of me to test with.

[2016-07-15 03:35] lmccart commented on #252
looks like we need to create a [`.desktop`](https://wiki.archlinux.org/index.php/Desktop_entries) file: https://github.com/nwjs/nw.js/wiki/Icons#linux

[2016-07-15 08:31] JobLeonard commented on #252
Seems simple enough, I can look into that! What's the image to be used as an icon?

[2016-07-16 05:20] Recarte opened #254 "Does not run on xp."
Exe file does not run on windows xp.
I get an error message saying that p5.exe is not a valid win32 application.

[2016-07-16 07:52] davejm commented on #254
Relates to issue #251. Currently the builds are for 64 bit machines. It should be easy to create 32 bit versions by adding the relevant packaging targets. I might look into fixing this. Whether the created 32bit binaries would work on Windows XP is another matter as I'm not sure it's supported.

[2016-07-16 13:52] fuzzySi commented on #251
Yes, could you confirm if it's 64 bit only?

[2016-07-16 21:27] lmccart commented on #254
yeah XP is not supported, but it'd be good to add a 32 bit version. @davejm if you want to look into this, that'd be great.

[2016-07-16 22:32] lmccart commented on #251
yes it is 64 bit only right now, i've updated the download page to indicate this https://github.com/processing/p5.js-website/commit/b7f299609c18c525a88a3e53e7d9c8463924c4f4

[2016-07-16 22:32] #251 closed

[2016-07-16 22:32] #250 closed

[2016-07-16 22:33] #25 closed

[2016-07-16 22:33] #191 closed

[2016-07-16 22:34] #152 closed

[2016-07-16 22:35] #122 closed

[2016-07-16 22:35] lmccart commented on #122
there are no plans for coffeescript support right now, we are focusing on fixing issues with existing editor

[2016-07-16 22:36] #180 closed

[2016-07-16 22:37] #254 closed

[2016-07-18 09:33] JobLeonard commented on #252
Ok, so I'm assuming we want to keep it portable (that is, no admin rights needed), so here's what I did:

- have a `p5js.desktop` "template" and a simple bash installation script
- [figure out the full path in bash](http://stackoverflow.com/questions/59895/can-a-bash-script-tell-what-directory-its-stored-in)
- use `sed` to take the template, replace `{P5XJSPATH}` in it with the path, and copy the

[2016-07-19 21:17] Recarte commented on #254
Understood, thanx.

[2016-07-21 14:28] lowenf commented on #235
I can confirm that I had it with a single project and no extra monitor

[2016-07-25 13:11] JobLeonard opened #255 "Auto-closing of curly braces is different from parentheses?"
Bit of a nitpick: but I just noticed this while writing a sketch and it resulted in some stupid bugs. Made a micro-screencapture to clarify:

![curly brace](https://cloud.githubusercontent.com/assets/259840/17102388/a02cfc0a-5279-11e6-99de-b1d5d01695f0.gif)

Now, this is mostly normal behaviour: the closing curly brace is not entered until you press enter. However, because it's on the last line, t

[2016-07-26 17:19] molleindustria opened #256 "saveTable issues"
I haven't used the editor recently and I was blown away by the improvements, wonderful job!

I'm reporting an issue that has been repeatedly mistaken for a p5 bug but which appears to be a problem of the editor:
https://github.com/processing/p5.js/issues/1436
https://github.com/processing/p5.js/issues/1238

I'm on a mac and I can confirm that the table is being created but the content is a string

[2016-07-28 04:21] nekorb commented on #234
the p5.exe will not run on my laptop

This is what I get when I try to open it
![p5js-windows-10-error](https://cloud.githubusercontent.com/assets/8484982/17201010/4c3e05fe-5458-11e6-8557-e4c85f6f62a1.png)

I am running Windows 10 32bit OS with 64x- Based Processor

I have tried moving the exe file to another folder, tried running it in Windows 8 compatibility mode with no success it just keeps sa

[2016-07-28 20:56] nekorb commented on #185
@Mutaquiha I am having the same issue, in my situation I think it is because I am using a 32bit OS.

are you also trying to run it on a 32bit OS because p5.js is 64bit.

I'm trying to find a way around this at the moment but haven't so far. I will let you know if I come upon any fix.

[2016-07-28 22:07] davejm commented on #251
@lmccart the thing stopping me from creating a working 32 bit build is the ffmpeg library. So I should be able to make 32 bit builds but sounds won't work until those libraries are found/built which seems quite involved. This is a downside of nw.js compared to electron which has the right codec support out of the box.

[2016-07-29 20:21] RAWRR commented on #251
I think Electron doesn't have 32bit support, in Windows at least. There's a larger problem here in that new toolkits/frameworks are nullifying 32bit out of the box and giving devs no choice.

Anyway 32bit isn't an XP issue, no one disagrees XP is a security sinkhole. Linux on the other hand produces current and maintained 32bit systems and they're valuable for the literally millions of 32bit machi

[2016-07-30 07:05] Xeronimo74 opened #257 "println() does not stop writing to the console?"
I've noticed that in certain cases (couldn't identify which) println() keeps printing to the console of the p5 editor even when the sketch has stopped ...

[2016-07-31 11:35] lmccart commented on #257
could you please post a snippet of code that results in the printouts occurring, and the output you are seeing in the console? thanks!

[2016-07-31 15:32] bmoren commented on #223
I'm working on implementing the current offline docs into the editor over at https://github.com/bmoren/p5.js-editor

things done:
gulp task to get the compiled offline reference from the p5js website
menu item for offline docs.

issues:
@lmccart / @limzykenneth  perhaps you have experience with this from working on the editor in other ways, I really don't have much experience with nwjs. I'm lookin

[2016-07-31 16:25] limzykenneth commented on #223
@bmoren I'm not that familiar with nwjs as well, I would need some time to get properly familiar with it so not much help from me on the implementation I'm afraid. Having said that, in terms of how it works we can look at Processing:

![screen shot 2016-07-31 at 5 17 12 pm](https://cloud.githubusercontent.com/assets/7543950/17277752/e21c2af0-5742-11e6-8a4c-5860da6a3658.png)

There's a menu item ca

[2016-07-31 17:29] bmoren commented on #223
@limzykenneth good idea, I have a version of this working in a new nwjs window now at my fork! If possible can someone verify the build and then release (I'm headed to a remote island for a week and I wont be able to release, hence the need for offline docs!)

I think that the offline reference is rendering a little awkward with the * logo but this is maybe a larger question for @lmccart and how t

[2016-08-01 03:45] bags2001 opened #258 "Icon for collapsing multiple lines of comments is rendered one row below its active area"
This doesn't always happen for /* ... */ multiple line comments and I couldn't really see what specific things made it happen. The small arrow icon is rendered one line below where you actually need to click to collapse a multi-line comment. The mouse hover behavior is following the icon - also one line below where it needs to be. Clicking on the area does nothing, but clicking on the area where i

[2016-08-01 08:32] lmccart commented on #223
awesome, thanks @bmoren! do you want to go ahead and submit a PR and I'll pull down the changes from there, test, and merge if it all works?

[2016-08-08 05:11] lmccart commented on #256
thanks, ill take a look at this

[2016-08-22 11:17] kaorun343 opened #260 "Update the version of Vue.js to v1.0"
Hello.
I know that this project is using vue.js but the version of this is still v0.10.
There are many differences between v0.10 and v1.0, so it will be hard to rewrite the codes.
However, v1.0 gives us many nice features, for instance, v1.0 allow us to utilize "prop" so it makes the  stream of passing data clearly. For sustainable maintenance, I suggest you to update the version of Vue.js to v1.0

[2016-08-23 15:50] brendanhowell commented on #249
I had to `chmod +x p5` running latest LMDE.  It unzipped without the exec bit set.

[2016-08-27 19:14] imconfusednow commented on #231
@pirate929 Yeh same on windows

[2016-08-31 06:58] fishinglee commented on #257
I have the same issue.
I am testing p5.FFT() sound object from the following reference page.
http://p5js.org/reference/#/p5.FFT
I copied this code and added println(x) in one of for loops to check x value.
When I run this on my local server, the console print out values continuously even though I pressed the stop button on the p5 editor.
This has the same problem with my chrome browser.
The progra

[2016-08-31 21:17] lmccart commented on #260
thanks, I agree it would make sense to update to 1.0. however, we are actually working on a new web editor and discontinuing support of the desktop editor once that is ready (in a couple months). so at this point, we will need to focus our energy on that project and not sink more into updating to vue 1.0.

[2016-09-01 03:33] kaorun343 commented on #260
I see, thanks for your answer :smile:

[2016-09-01 03:33] #260 closed

[2016-09-03 19:22] MartinMSPedersen commented on #249
You can find .deb and .rpm package with the p5js-editor here:
http://p5js.20dage.dk/

[2016-09-04 11:07] mikima commented on #178
Had the same problem. Right-clicking on the .zip file and using the default archive tool, it worked (thanks @kamend).
So odd.

[2016-09-04 16:11] ericgarcia-net commented on #249
thanks but I can't download the .deb file ! i don't know why !!!

I gave up on the javascript editor : I use the Processing 3 P5.JS mode
I don't know why they don't tell about it on the p5js site !!!

2016-06-27 19:25 GMT+02:00 David Moodie <notifications@github.com>:

[2016-09-04 17:45] lmccart commented on #249
glad you got it working with p5.js mode. the mode just came out, "they" is mostly just me and i'm sort of drowning in all the p5 work right now, but i hope to add a link soon. if anyone wants to submit a pr to add it to the site that'd be great.

[2016-09-04 19:51] loumakis commented on #178
it worked for me also with the default archive tool. Thanks @kamend

[2016-09-04 20:16] alexdwagner commented on #178
Wow. Worked for me too. I had my default file unzipper set as Keka(when P5 wouldn't work), fwiw.

[2016-09-04 20:21] loumakis commented on #178
Keka was the problem for me also!

[2016-09-05 13:36] ericgarcia-net commented on #249
:D      Ok, I'll stop to call you "they"  :D
sorry :)

and thank you very much

Is it possible to have a copy of P5js reference locally (I'm not always
connected to internet !) ?

2016-09-04 19:45 GMT+02:00 Lauren McCarthy <notifications@github.com>:

[2016-09-05 13:41] MartinMSPedersen commented on #249
You can download the p5js reference.
There is a link on the reference page.
Else just use this: https://p5js.org/offline-reference/p5-reference.zip

btw. Why did the .deb work for you?  What happended?

[2016-09-05 13:55] ericgarcia-net commented on #249
thank you very much

2016-09-05 15:41 GMT+02:00 Martin Møller Skarbiniks Pedersen <
notifications@github.com>:

[2016-09-05 13:59] ericgarcia-net commented on #249
I couldn't dowload the deb the other day.
I've jsute got it.. I'll try tonight :)

2016-09-05 15:55 GMT+02:00 Eric Garcia <eric.garcia.fr@gmail.com>:

[2016-09-06 10:26] ericgarcia-net commented on #249
Hello

I could easily install the .deb version of P5-editor.

Then, unable to find anything in the Linux menu (Linux Mint Mate release based
on Ubuntu) , I finally found how to start it by typing in the terminal : p5.

The editor works fine, it's very nice !!!

So one should just ensure that the program appears in the menu and Linux
.deb would be perfect.

thanks again

[2016-09-12 15:59] NAPO039 opened #262 "Update for P5.js"
In issue no 143 (I think...I'm new to github so don't know if that's correct), a 32-bit build of p5.js for windows was posted. Is there any way for me to receive updates for that?

[2016-09-12 20:05] CodingHobby opened #263 "Cannot Save Projects or Files"
Hello,
I tried the editor, and it's fantastic.
The problem is it won't let me save projects or files.
As I click on "Save As" or press "Ctrl+Maiusc+S" or "Ctrl+S", the editor will open the file browser, ask me where to save, to the close the window after I selcted a directory (so far so good).
After that, if I ever try to save a file, it opens the "Save As" screen again and, when I use the file br

[2016-09-15 01:53] lmccart commented on #262
unfortunately we don't have plans to make a 32 bit release for windows. we just don't have the resources to support it, i'm sorry.

[2016-09-15 01:53] #262 closed

[2016-09-16 22:40] arianzz opened #264 "Add file button not working"
Add file button doesn't work.

[2016-09-20 10:54] hemrajk opened #265 "No any p5 editor version for windows 32 bit"
No any p5 editor version for windows 32 bit

[2016-09-22 02:14] lmccart commented on #265
sorry, we are not able to support 32 bit at this time.

[2016-09-22 02:14] #265 closed

[2016-09-23 16:57] Martoadd opened #266 "for 32 bit"

[2016-09-23 16:58] lmccart commented on #266
sorry, we are not able to support 32 bit at this time.

[2016-09-23 16:58] #266 closed

[2016-09-28 15:25] derpDiggler opened #267 "Why isnt this editor a webapp? (written in JS)"
See subject.

[2016-09-28 15:27] lmccart commented on #267
we have one in development look out for it later this fall

[2016-09-28 15:27] #267 closed

[2016-10-01 01:17] twilson33 opened #268 "Bug when using the refresh button when running code."
When I run code in the p5js editor and press the refresh button it stops the whole program from running after.
video explanation here: http://screencast.com/t/eEhRSyI5a29Z

[2016-10-03 08:24] JeffGreenlee42 opened #269 "P5.js-editor won't open by doubleclicking on a .js file in Windows 10"
I have confirmed that I have Windows Default file types is set to P5.exe,  but it doesn't make any difference.    If you double click or use "open with"    a .js file will NOT open.    The only way to open any .js file is to p5.exe and then open a file from it's menu!    I believe one of the reasons is that the p5 editor does not appear to follow the usual installation procedure of most applicatio

[2016-10-04 16:48] moriartp opened #270 "Mac OSX Editor does not save"
Save command is unresponsive in the P5.js Mac OSX Editor

[2016-10-11 05:02] kusha-b-k opened #271 "Image file ERROR !"
while opening an image file from the assets folder in p5.js editor,  we got this below error
![error](https://cloud.githubusercontent.com/assets/14980964/19259263/932df0f2-8f9d-11e6-8439-0a3f3c53e06b.png)

[2016-10-14 08:30] ktlqai opened #272 "Can't run p5 editor on Windows 7"
Yes, I double-click p5.exe in extracted zip file of download but error dialog showed up saying this file is not compatible with your operating system type (32-bit or 64-bit).

Your download has no option to choose 32-bit or 64-bit for Windows. Mine OS is 32-bit Windows 7.

[2016-10-14 16:16] davejm commented on #272
@ktlqai, this editor only has 64bit versions

[2016-10-14 19:17] ktlqai commented on #272
@davejm , thank you, then!

[2016-10-14 19:17] #272 closed

[2016-10-16 17:54] Paul1337 commented on #143
Will be there an updated build?

[2016-10-20 13:16] q2dg opened #273 "Could you join efforts with processing-p5js-mode from Fathom Information Design?"
Instead of having a separate IDE for P5.js, why not integrate P5.js as a new "mode" of standard Processing IDE like this project (https://github.com/fathominfo/processing-p5js-mode) does?
Thanks

[2016-10-20 14:15] lmccart commented on #273
I'm a bit confused, there is already a p5.js mode for Processing.

[2016-10-20 14:17] lmccart commented on #273
To give further background, we are actually planning to stop support of this editor once we launch the new web editor we've been focusing our development energy on. I see the p5.js mode for Processing as a good holdover or alternative until that is ready, but they are separate projects.

[2016-10-20 16:50] q2dg commented on #273
My wish would be having one tool "to rule them all". One Processing IDE with "Java mode", "Android mode" and "Javascript/P5.js Mode" would be excellent: desktop, mobile and web all in one

[2016-10-20 19:53] lmccart commented on #273
I understand. However, p5.js and Processing are separate projects. While we talk frequently about shared goals between them, we'd prefer not to merge them but to instead give each project the space to grow and develop independently and organically.

[2016-10-20 19:53] #273 closed

[2016-10-22 23:01] Ramyking commented on #178
using the OSX default archive tool work for me

[2016-11-04 09:59] PhyJo opened #274 "cant open the program p5 on mac el capitan 10.11.6"
<img width="488" alt="bildschirmfoto 2016-11-04 um 10 57 01" src="https://cloud.githubusercontent.com/assets/23256890/20001642/7453d56e-a27d-11e6-90b0-4a6cb7224e7d.png">

I already changed my program settings to "without limitations", and it still shows the error. Can someone help?

[2016-11-04 10:06] PhyJo commented on #32
Hey guys, same issue, with El Capitan 10.11.6
<img width="488" alt="bildschirmfoto 2016-11-04 um 10 57 01" src="https://cloud.githubusercontent.com/assets/23256890/20001949/a750cbd8-a27e-11e6-9e2a-e637d5a50857.png">

[2016-11-04 10:15] PhyJo commented on #274
Hey I solved the problem by unzipping it with the archive utility program instead of the Keka archive program. Weird, but it works!

[2016-11-04 10:15] #274 closed

[2016-11-04 11:26] SimonBuxx commented on #268
I'm experiencing the same problem. Aside from that, I would prefer a dark environment over a light one. Maybe you could include a dark theme? At the moment, I don't really see the benefits of the p5.js editor over other code editors like Visual Studio Code...

[2016-11-04 13:53] tegacodes commented on #268
The editor is so useful for teaching students and having a way to set up a sketch's dependent files very quickly. Saves so much drama dealing with paths in a classroom.

[2016-11-07 15:41] molleindustria opened #275 "p5 editor and the print vs println issue"
It seems like the editor linked to the official site
https://p5js.org/download/

Still ships with an old version of p5.js that throws an error with print().
I understand the infamous println change has been reverted right?

[2016-11-07 15:50] lmccart commented on #275
it has ;)
i'll post a new version with this change asap!

[2016-11-11 00:31] lmccart commented on #275
just posted a new version (https://github.com/processing/p5.js-editor/commit/583090cccf020f4b84f7d4b78e8193f7559f6bf3)

[2016-11-11 00:31] #275 closed

[2016-11-15 22:17] Gregorgeous commented on #234
I don't know if it's a useful information but might help some folks (as it can be not obvious at first glance) - the editor wasn't opening on my computer (win 10 x64 OS, x64 proc - it was appearing in the processes for few secs without opening the window and then was suddenly closed) , but seems like some of the ad-ware antiviruses block the app without any pop-up alert about it (like the Lavasoft

[2016-11-18 19:53] guevarajoge opened #276 "No drawing when using p5.js editor browser + Weird behaivor of files when draw in browser( Chrome)"
Somebody know why m getting this  **" require is not defined", "  Uncaught TypeError: Cannot read property 'postMessage' of null as an error"**
 when i try to draw something using the P.5js editor ? ..  i found weird that the "createCanvas " function works so, i dont know why is not reacting.    I
If i use the option run it in browser( Chrome)  it runs the draws.  But there is a weird behavior whe

[2016-11-23 18:30] pheebsy opened #277 "Buttons in prompt window not visible"
When creating a new file using the + tab, only the very tips of the buttons are visible in the prompt window. Running in Windows 7 SP1 64 bit
![prompt window](https://cloud.githubusercontent.com/assets/23410930/20574094/d09ff2e4-b1aa-11e6-913f-3322c936a112.png)

[2016-11-24 17:59] lmccart opened #278 "Problems with fixed width tabs on editor panel"
reposted from: Problems with fixed width tabs on editor panel

The tabs on the editor panel are fixed width. This means that:
- long filenames are not truncated but write outside to tab header (overwriting the one to the right if - there is no close "x", so cannot remove these tabs.

[2016-11-24 18:08] skyty opened #279 "CANNOT OPEN"
The editor suddenly could not open but it has been working before. I've always been using windows 10. Last night when I tried to open it the load mouse icon just shows up and spins but nothing actually opens.

[2016-11-26 13:21] mrvary opened #280 "syntax highlighting on methods seems inconsistent"
Is there a difference between e.g. Vector-methods like add / sub and mult / getMag or are the latter ones only missing in the code parser? Running p5 Editor 0.6.2
![bildschirmfoto 2016-11-26 um 14 04 13](https://cloud.githubusercontent.com/assets/18517541/20640622/7de31a32-b3e3-11e6-9c6f-d5915b2e6fc0.png)

[2016-11-26 13:42] mrvary opened #281 "sidebar: delete doesn't close opened tab"
1. create a new file
2. open sidebar and delete it via the drop-down menu

Issue --> the tab still exists, but shows no functionality other than allowing you to type
         --> if you try to change between tabs you can't return, because said tab is not responding

![bildschirmfoto 2016-11-26 um 14 30 31](https://cloud.githubusercontent.com/assets/18517541/20640717/719deca4-b3e6-11e6-8e50-23c064d

[2016-11-26 15:31] mrvary commented on #281
**rename** also does not work as expected: it creates a new empty file with the given name and leaves the old one as an unaccessible tab (practically erases all the content, that one has written into that file..)

[2016-11-28 16:18] DrPigi opened #282 "Auto-Complete"
Any chance of adding auto complete like in notepad++ or eclipse? That way I dont have to check the refrence everytime. Thanks!

[2016-11-28 18:47] Meldiron opened #283 "Doesn't start at all (Windows 10, latest version - 0.6.2)"
I downloaded latest version, I unzipped it into C:/p5, I started c5 application, i waited around 10 minutes and nothing happend. None error, none antivirus message, just nothing. I also tried run it as administrator, still nothing..

[2016-11-30 10:55] orgicus opened #284 "P5-mac v0.6.2 doesn't open"
I've replaced the older p5.app with the latest when I got prompted about the update, but the new p5.app doesn't run. It displays this dialog:

![http://i.imgur.com/BMG33v1.png](url)

I've tried opening the app from Terminal, but this didn't work either.
At least it display more info:

[code]

[2016-12-02 13:50] GABBAR1947 commented on #234
Usually moving the application to the application folder does the job but the general solution is to circumvent the MacOs Gatekeeper. I think this would help : [Gatekeeper](https://support.apple.com/en-us/HT202491)

[2016-12-03 09:26] SaarLevy opened #285 "Linux version of the editor contains an executable file"
I don't know if this was a mistake or I might just be stupid and not understand how to install the program in the folder but as far as I can tell you can't install the editor on Linux with what's in the folder right now.

[2016-12-05 21:39] lmccart commented on #282
we are phasing out support for the desktop editor and won't be able to add any new features unfortunately.

[2016-12-05 21:39] #282 closed

[2016-12-05 22:54] lmccart commented on #284
can you try right clicking and then clicking "open"

[2016-12-09 12:42] otakucode commented on #268
Just a note that this bug affects the example code included with the editor.  I ran into it a minute or so into using the editor for the first time, after tweaking a value in the "Array 2d" example.  I ran it, noticed it was slow and  refreshed to see if that was normal (it was, I had changed 'spacer' to 1), then closed the browser and discovered I had to close and reopen the file (but not the who

[2016-12-09 13:27] Crayder opened #286 "Default File - Tab Settings"
Shouldn't the default file's tabs be set according to the tab settings?

[2016-12-10 18:56] orgicus commented on #284
Hi Lauren,

I get the same "The application "p5.app" can't be opened." error alert dialog.

The strange thing is that I've downloaded a couple of older versions of the p5 editor and still get the same error (and I remember they used to work).

I haven't updated OSX (still on 10.11.5). Not sure what changed on the system to cause this issues :/

[2016-12-10 21:55] lmccart commented on #284
hmm I wish I could help more. we are deprecating the editor at the end of the year and ending support for it, so it may be best to try an alternative like brackets, atom, or sublime.

[2016-12-10 22:08] orgicus commented on #284
No worries and thank you for the updated.
I'm already digging the alpha web editor! :)

I've been using p5.js more and more recently for [stackoverflow answer](http://stackoverflow.com/questions/29793849/how-to-create-a-simple-l-system-in-processing).

Looking forward to see more awesome features p5.js!

[2016-12-11 10:40] djmgit opened #287 "The show sidebar radio buttons in settings panel should indicate the status of the sidebar when sidebar is accessed from menu"
Presently when the show sidebar radio buttons in the settings panel are pressed, the corresponding label(on or off) gets bold indicating whether the sidebar is visible or not.But when the sidebar is toggled from the view menu, the change is not reflected on the radio button labels in the settings pane. that is none of the labels become bold.Although its not a big issue, but it can make the design

[2016-12-11 13:32] Akarshit opened #289 "Unhandled exception on Cancel when creating New File"
This exception is thrown when `Cancel` is clicked after selecting `New File` from the menu.
[code]

[2016-12-12 15:58] Crayder commented on #286
Temporary solution, Ctrl+T when opening a new program.

[2016-12-12 15:59] Crayder opened #291 "Window Size"
I think the window size should automatically take the size of the canvas.

Currently it's like totally random and annoying.

[2016-12-12 18:19] lmccart commented on #289
fixed with https://github.com/processing/p5.js-editor/pull/290

[2016-12-12 18:19] #289 closed

[2016-12-12 20:29] #287 closed

[2016-12-12 23:30] Awperino opened #292 "Random Crash"
After working on a basic program that I liked the look of for about 45 minutes the editor crashed right as I was going to save. I am not sure why it happened. It just said that the program had stopped working.

[2016-12-14 21:17] juancarlucci commented on #112
Hi @antiboredom!

I am having the same issue. Running p5 Version 0.6.2 (0.6.2). Here is a screenshot:
I am working on 02_Walker_Acceleration.

When I click on the play button<img width="38" alt="image" src="https://cloud.githubusercontent.com/assets/13774624/21200326/bb829ea0-c1fb-11e6-8bdd-553f6986d488.png">. A new browser window opens.

Originally it opened an old project, in this case Session 2

[2016-12-15 15:38] doxanthropos commented on #285
At the moment there is no installation in Linux, you can just run the executable or install it by hand similar to Processing in this guide [on how to install Processing on Ubuntu](http://www.artsnova.com/processing/installing-processing-ubuntu-linux-tutorial.html). There is another issue, where someone is working on building an installation script: https://github.com/processing/p5.js-editor/issues

[2016-12-15 23:58] LuccasJSantos commented on #283
Same here! I tried to disable the windows defender, but no success! I noticed that the Antimalware was getting 50% of usage in the task manager everytime that I tried to run the editor, so I disabled it, wondering myself if the Windows Defender was preventing the editor to run.
I hope they are already working on a solution to this problem.

[2016-12-16 23:13] reconbot opened #293 "Upgrade serialport to 4.x"
SerialPort should probably be upgraded in the `/public/package.json` folder. It's using a fork that's very old and doesn't support node 4+. SerialPort 4x is the latest serialport version, supports node 0.10-7 and has only a few relevant api changes.

[2016-12-17 04:56] #3 closed

[2016-12-17 04:56] #6 closed

[2016-12-17 04:56] #7 closed

[2016-12-17 20:04] bachiloglu commented on #185
Hi
I'm a newbie programmer too.
I've trying install p5.js-editor since yesterday at night and I can't.
I download the .rar and when I tried to run the .exe it does nothing.
win 10 - 64 bits
_ps. sorry if my english is to basic_

[2016-12-24 16:28] shivamsingh1221 opened #294 "println not printing result on console of the editor in linux."
While running the below program, println is not printing any result on console of the editor in linux. Here data is not empty.
![println](https://cloud.githubusercontent.com/assets/11614346/21467927/e9f8acea-ca23-11e6-9e35-06a6adeb29c3.png)

[2017-01-03 17:21] ducklin5 commented on #94
Does anyone have a Tern definition json file for p5 yet? would it be easier to generate it with tern's condense tool or through yuidoc?

[2017-01-04 14:40] JobLeonard opened #295 "Bump up to new p5js library version?"
The last release in this editor was in August, which used p5js 5.4. The latter has since been bumped to 5.6.

https://github.com/processing/p5.js-editor/releases

https://github.com/processing/p5.js/releases

I can also imagine it doesn't make sense to update the editor just to bump up the p5js library. Is there a way to "manually install" newer versions of p5js to existing editor installations?

[2017-01-13 17:39] Crayder opened #296 "Syntax parser thinks for loop scope variables are already defined."
Basically, for loop local scopes are considered to be part of the scope the for loop is in.

![image](https://cloud.githubusercontent.com/assets/9919010/21939310/2eec859c-d98d-11e6-9513-cc7c1a35e2c4.png)
![image](https://cloud.githubusercontent.com/assets/9919010/21939314/343615c2-d98d-11e6-82b2-ff5b14c4aabf.png)

Even in https://github.com/processing/p5.js-editor/blob/84dad397bd38781623f425c82ab5

[2017-01-15 09:50] MrDh0nt opened #297 "sketch.js was edited on the disk. Reload? You will lose any changes. mac OSX 10.12.2"
Everytime I click away from the p5.js editor and I return to it, there is a pop-up that says: "sketch.js was edited on the disk. Reload? You will lose any changes." even tough I saved changes and stuff. It is very annoying how do I make this pop-up stop showing up?

[2017-01-22 16:17] KadenTheEpic opened #298 "Wont open in win 7 newest version of p5"

[2017-02-09 11:39] MartinMSPedersen commented on #285
I have made  .deb and .rpm packages for Linux of the editor.
They can be found at: http://p5js.20dage.dk/
After installing the package, just type p5 in a terminal.

[2017-03-12 09:54] Neverevermb commented on #185
Hello everyone try https://github.com/processing/p5.js-editor/releases

[2017-06-03 21:41] Pastyguy commented on #134
Img getting the same result when i run this part of my code
function preload() {
	img = loadImage("assets/shark.jpg");
}

[2017-08-01 14:00] ghost opened #300 "Can't run P5JS"
I'm new to coding and I'm watching Coding Trains videos,  I downloaded P5JS but its giving me a folder not a thing I can run.  Is there any way to fix that.

[2017-08-02 07:42] montoyamoraga commented on #300
hey, try downloading the editor from the "Releases" section, here:
https://github.com/processing/p5.js-editor/releases